@import '../global';

.about {
  &__top-panel {
    background: url('../img/about-top-bg.png') center no-repeat !important;
    display: flex;
    flex-direction: column;
    height: 720px;

    @media screen and (max-width: 1023px) {
      background-position: left top !important;
      height: 600px;
    }

    @media screen and (max-width: 767px) {
      background: radial-gradient(670.03px at 29.92% 100%, #404040 0%, #212121 100%) !important;
    }

    .top-panel__title {
      max-width: 595px;
      transform: translateX(80%);

      @media screen and (max-width: 1279px) {
        transform: translateX(50%);
      }

      @media screen and (max-width: 1023px) {
        transform: translateX(0);
      }

      .title {
        font-size: 115px;
        line-height: 108px;

        @media screen and (max-width: 1279px) {
          font-size: 65px;
          line-height: 70px;
        }

        @media screen and (max-width: 767px) {
          font-size: 45px;
          line-height: 55px;
        }
      }
    }

    .top-panel__text {
      margin-top: 60px;
      max-width: 490px;
      transform: translateX(120%);

      @media screen and (max-width: 1279px) {
        transform: translateX(80%);
      }

      @media screen and (max-width: 1023px) {
        max-width: 400px;
        transform: translateX(0);
      }

      @media screen and (max-width: 767px) {
        margin-top: 30px;
        max-width: 100%;
      }

      .section__desc {
        text-align: left;
      }
    }
  }

  &__facts {
    &-content {
      align-items: center;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 1023px) {
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
      }
    }

    &-title {
      margin: 0 !important;
    }

    &-list {
      max-width: 620px;

      li {
        color: #808080;
        display: flex;
        font-size: 18px;
        font-style: italic;
        line-height: 24px;
        margin-top: 30px;
        padding-left: 42px;
        position: relative;

        &:before {
          content: url('../img/check.svg');
          left: 0;
          position: absolute;
          top: 0;
        }

        @media screen and (max-width: 1279px) {
          font-size: 16px;
          line-height: 20px;
        }
      }

      @media screen and (max-width: 1279px) {
        max-width: 500px;
      }

      @media screen and (max-width: 1023px) {
        max-width: 100%;
      }
    }

    &-photos {
      display: flex;
      flex-wrap: wrap;
      margin-left: 40px;
      max-width: 490px;

      img {
        height: 240px;
        padding: 0 5px 10px 5px;
        width: 240px;

        object-fit: cover;

        @media screen and (max-width: 1279px) {
          height: 200px;
          width: 200px;
        }

        @media screen and (max-width: 1023px) {
          height: 180px;
          width: 180px;
        }
      }

      @media screen and (max-width: 1023px) {
        margin-left: 0;
        margin-top: 30px;
        max-width: 100%;
      }

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  &__biography {
    &-content {
      display: flex;
      justify-content: flex-end;
      position: relative;

      img {
        bottom: -90px;
        left: -20%;
        position: absolute;

        @media screen and (max-width: 1279px) {
          max-width: 750px;
        }

        @media screen and (max-width: 1023px) {
          display: none;
        }
      }
    }

    &-desc {
      max-width: 490px;

      @media screen and (max-width: 1023px) {
        max-width: 100%;
      }

      p {
        text-align: left;

        &.title {

        }
      }

      .btn {
        margin-top: 36px;
        max-width: 245px;
      }
    }
  }

  &__rewards {
    &-content {
      align-items: center;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 1023px) {
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
      }

      @media screen and (max-width: 767px) {
        padding-bottom: 50px;
      }
    }

    &-list {
      max-width: 600px;

      @media screen and (max-width: 1279px) {
        max-width: 500px;
      }

      @media screen and (max-width: 1023px) {
        max-width: 100%;
      }
    }

    &-title {
      text-align: center;
    }

    &-slider {
      align-items: center;
      display: flex !important;
      justify-content: center;
      margin-top: 30px;

      .slick-list {
        padding-top: 40px;
      }

      .slick-arrow {
        background: transparent no-repeat center;
        border: 0;
        height: 20px;
        padding: 0 15px;
        width: 24px;
      }

      .slick-prev {
        background-image: url('../img/arrow-left-white.svg');
      }

      .slick-next {
        background-image: url('../img/arrow-right-white.svg');
      }

      .slick-dots {
        bottom: -50px;
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;

        .slick-active {
          button {
            opacity: 1;
          }
        }

        li {
          margin-right: 18px;

          button {
            background-color: #d82121;
            border: 0;
            border-radius: 50%;
            color: transparent;
            height: 12px;
            opacity: .35;
            width: 12px;
          }
        }
      }
    }

    &-item {
      align-items: center;
      background-color: #212121;
      color: #808080;
      display: flex !important;
      font-size: 16px;
      height: 204px;
      line-height: 20px;
      margin: 0 auto;
      padding: 0 40px;
      position: relative;
      text-align: center;
      width: 440px !important;

      @media screen and (max-width: 1279px) {
        font-size: 15px;
        height: 180px;
        padding: 0 30px;
        width: 400px !important;
      }

      @media screen and (max-width: 767px) {
        height: max-content;
        padding: 40px 10px 20px;
        width: 200px !important;
      }

      &:before {
        align-items: center;
        background-color: #212121;
        border-radius: 50%;
        content: attr(data-number);
        display: flex;
        height: 72px;
        justify-content: center;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translate(-50%, -50%);
        width: 72px;
      }
    }

    &-photos {
      display: flex;
      flex-wrap: wrap;
      margin-left: 40px;
      max-width: 490px;

      img {
        height: 240px;
        padding: 0 5px 10px 5px;
        width: 240px;

        object-fit: cover;

        @media screen and (max-width: 1279px) {
          height: 200px;
          width: 200px;
        }

        @media screen and (max-width: 1023px) {
          height: 180px;
          width: 180px;
        }
      }

      @media screen and (max-width: 1023px) {
        margin-left: 0;
        margin-top: 70px;
        max-width: 100%;
      }

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  &__thanks {
    .title,
    .subtitle {
      text-align: center;
    }

    &-slider {
      img {
        max-height: 370px;
        width: 100%;

        object-fit: contain;
      }

      @media screen and (max-width: 767px) {
        margin: 0 !important;
        margin-top: 30px !important;
      }

      .slick-dots {
        display: flex;
        justify-content: center;
        width: 100%;

        .slick-active {
          button {
            opacity: 1;
          }
        }

        li {
          margin-right: 18px;

          button {
            background-color: #d82121;
            border: 0;
            border-radius: 50%;
            color: transparent;
            height: 12px;
            opacity: .35;
            width: 12px;
          }
        }
      }
    }
  }
}