@import '../global';

.aside {
  min-width: 235px;
  width: 235px;

  &__btn {
    margin-top: 24px;
  }

  &__text {
    color: rgba(255,255,255,.5);
    font-size: 13px;
    margin-top: 24px;

    &.bold {
      color: rgba(255,255,255,.75);
      font-size: 13px;
      font-weight: 700;
      margin-top: 15px;
    }
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 700;
    margin-top: 24px;
  }

  &__list {
    li.aside__text {
      margin-top: 15px;
    }
  }
}