@import '../global';

// home page

.blog-content {
  &__container {
    display: flex;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__item {
    width: 50%;
    &:first-child {
      margin-right: 70px;

      @media screen and (max-width: 767px) {
        margin-right: 0;
      }
    }

    &:last-child {
      @media screen and (max-width: 767px) {
        margin-top: 30px;
      }
    }

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    &-header {
      align-items: center;
      display: flex;

      @media screen and (max-width: 767px) {
        justify-content: space-between;
      }

      .divider {
        margin: 0 0 0 30px;

        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }

    &-content {
      .btn {
        margin-top: 36px;
        max-width: 200px;
      }
    }
  }

  &__heading {
    font-size: 28px;
    font-weight: 700;
    white-space: nowrap;

    @media screen and (max-width: 767px) {
      font-size: 20px;
      white-space: normal;
    }
  }
}

// blog pages

.blog {
  &__container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1023px) {
      flex-direction: column;
    }
  }

  &__section {
    padding: 50px 0 110px;
  }

  &__aside {
    margin-left: 60px;

    @media screen and (max-width: 1023px) {
      margin-left: 0;
      max-width: 100%;
      width: 100%;
    }
  }

  &__item {
    align-items: center;
    display: flex;
    margin-top: 24px;

    @media screen and (max-width: 500px) {
      flex-direction: column;
    }

    img {
      height: 170px !important;
      margin-right: 20px;
      width: 225px;

      object-fit: cover;
      object-position: center top;

      @media screen and (max-width: 500px) {
        height: 200px !important;
        margin-bottom: 15px;
        width: 100% !important;

        object-position: center top;
      }

      @media screen and (min-width: 501px) and (max-width: 1023px) {
        width: 200px !important;
      }
    }

    &-title {
      font-size: 18px !important;
      font-weight: 700;
      line-height: 24px;
    }

    &-date {
      color: rgba(255,255,255,.5);
      margin-top: 10px;
    }

    &-text {
      color: #808080;
      font-size: 13px;
      font-weight: 500;
      line-height: 16px;
      margin-top: 10px;
      max-height: 48px;
      overflow: hidden;
    }

    &-link {
      @include transition();

      color: rgba(216, 33, 33, .75);
      display: block;
      font-weight: 500;
      margin-top: 10px;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__content {
    .blog__item {
      margin-top: 36px;

      img {
        height: 206px;
        width: 274px;
      }

      &-title {
        font-size: 28px;
        font-weight: 600;
      }

      &-date {
        font-size: 16px;
        margin-top: 12px;
      }

      &-text {
        font-size: 16px;
        line-height: 20px;
        margin-top: 12px;
        max-height: 40px;
      }

      &-link {
        font-size: 16px;
        margin-top: 12px;
      }
    }
  }
}