@import '../global';

.btn {
  @include transition();

  border: 1px solid #d82121;
  font-weight: 500;
  height: 36px;
  width: 100%;

  &:not(button) {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &:hover {
    background-color: #d82121;
  }

  &:active {
    background-color: #b31b1b;
    border-color: #b31b1b;
  }

  &__promo {
    @include transition();

    align-items: center;
    background: url('/img/promo.svg') no-repeat left center;
    cursor: pointer;
    display: flex;
    height: 60px;
    line-height: 18px;
    max-width: 230px;
    padding-left: 72px;

    &:hover {
      opacity: .7;
    }
  }

  &__social {
    background: no-repeat 20px center;
  }

  &_border_light {
    border-color: rgba(255,255,255,.1);
  }

  &_size {
    &_big {
      font-size: 20px;
      height: 60px;

      @media screen and (max-width: 500px) {
        font-size: 14px !important;
      }
    }

    &_middle {
      height: 48px;
    }

    &_small {
      height: 24px;
    }
  }

  &_solid {
    background-color: #d82121;

    &:hover {
      background-color: transparent;
    }
  }
}