@import '../global';

.contacts {
  &__container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__content {
    width: 40%;
    .section__title {
      margin-top: 0;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    line-height: 32px;
    margin-top: 24px;
    label {
      font-size: 13px;
    }

    .link {
      width: max-content;
    }

    .contacts__text {
      font-size: 22px;
      color: #fff;

      a {
        width: 185px;
      }
    }
  }

  &__phone {
    align-items: center;
    display: flex;
    margin-right: 3px;

    .contact__item {
      margin-left: 12px;
    }
  }

  &__map {
    height: 600px;
    width: 55%;

    @media screen and (max-width: 767px) {
      margin-top: 30px;
      width: 100%;
    }
  }

  &__btn {
    border-color: rgba(255, 255, 255, .1);
  }

  &__socials-list {
    display: flex;
    flex-wrap: wrap;
    margin: 25px -12px 0;

    li {
      padding: 0 6px 12px 6px;
      width: 50%;

      @media screen and (max-width: 500px) {
        width: 100%;
      }

      @media screen and (min-width: 768px) and (max-width: 1023px) {
        width: 100%;
      }
    }
  }
}