@import "../global";

.contacts {

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 40%;
    .section__title {
      margin-top: 0;
    }
  }

  &__item {
    line-height: 32px;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    label {
      font-size: 13px;
    }

    .link {
      width: max-content;
    }

    .contacts__text {
      font-size: 22px;

      a {
        width: 185px;
      }
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    margin-right: 3px;

    .contact__item {
      margin-left: 12px;
    }
  }

  &__map {
    width: 55%;
    height: 600px;
  }

  &__btn {
    border-color: rgba(255, 255, 255, 0.1);
  }

  &__socials-list {
    display: flex;
    flex-wrap: wrap;
    margin: 25px -12px 0;

    li {
      width: 50%;
      padding: 0 6px 12px 6px;
    }
  }
}