@import '../global';

.footer {
  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
    width: 100%;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
  }

  &__nav-item {
    @include transition();
    &:not(:first-child) {
      margin-top: 24px;

      &:hover {
        opacity: .7;
      }
    }
  }

  &__nav-list {
    margin-top: 24px;

    &:last-child {
      margin-left: 30px;
    }
  }

  &__caption {
    color: rgba(255, 255, 255, .5);
    line-height: 24px;
    width: 100%;
  }

  &__copyright {
    align-items: center;
    border-top: 1px solid rgba(216, 33, 33, .3);
    display: flex;
    height: 72px;
    justify-content: space-between;
    margin-top: 66px;
    width: 100%;

    span {
      color: rgba(255, 255, 255, .5);
      font-size: 16px;
    }
  }

  &__contacts {
    min-width: 456px;

    &-list {
      display: flex;
      margin: 10px 0 20px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      line-height: 32px;

      label {
        font-size: 13px;
      }

      a {
        @include transition();

        font-size: 22px;
        &:hover {
          opacity: .7;
        }
      }

      &:last-child {
        margin-left: 37px;
      }
    }
  }

  &__socials {
    margin-top: 36px;

    &-list {
      display: flex;
      flex-wrap: wrap;
      margin: 25px -10px 0;

      li {
        padding: 0 6px 10px 6px;
        width: 50%;
      }
    }
  }
}