@import '../global';

.header {
  align-items: center;
  display: flex;
  height: 96px;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 1280px) {
    flex-direction: column;
    background-color: #212121;
  }

  &__contact {
    align-items: center;
    display: flex;

    & .contact__item {
      font-weight: 500;

      &:not(:last-child) {
        margin-right: 12px;
      }
    }

    @media screen and (max-width: 1280px) {
      display: none;
    }
  }

  &__write-us {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1280px) {
      display: none;
    }

    .btn {
      max-width: 154px;
    }

    label {
      font-size: 11px;
      margin-top: 6px;
      opacity: .75;
    }
  }
}