@import '../global';

.header {
  align-items: center;
  display: flex;
  height: 96px;
  justify-content: space-between;
  position: relative;
  width: 100%;

  @media screen and (max-width: 767px) {
    background-color: #212121;
    flex-direction: column;
    height: 70px;
    justify-content: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    flex-wrap: wrap;
    height: max-content;
    padding: 15px;
  }

  &__logo {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    .btn__menu {
      background: transparent url('../img/menu.svg') no-repeat center;
      background-size: contain;
      border: 0;
      height: 30px;
      width: 30px;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  &__contact {
    align-items: center;
    display: flex;

    & .contact__item {
      font-weight: 500;

      &:not(:last-child) {
        margin-right: 12px;
      }
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__write-us {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
      display: none;
    }

    .btn {
      max-width: 154px;
    }

    label {
      font-size: 11px;
      margin-top: 6px;
      opacity: .75;
    }
  }
}