@import '../global';

.leading-content {
  background: url('/img/home-anna.png') no-repeat 8% center;
  display: flex;
  flex-direction: column;
  min-height: 888px;
  padding-top: 100px;

  @media screen and (max-width: 1279px) {
    background-image: none;
    padding: 30px 0;
    min-height: max-content;
  }

  &__section {
    padding: 0 !important;
  }

  &__subtitle {
    margin-bottom: 0;
    padding-left: 195px;

    @media screen and (max-width: 1279px) {
      padding-left: 0;
    }
  }

  &__title {
    font-size: 115px;
    margin-top: -20px;
    text-align: right;

    @media screen and (max-width: 1279px) {
      font-size: 80px;
      margin-top: 0;
      text-align: left;
    }

    @media screen and (max-width: 1023px) {
      font-size: 65px;
      margin-top: 0;
      text-align: left;
    }

    @media screen and (max-width: 767px) {
      font-size: 50px;
      margin-top: 0;
      text-align: left;
    }
  }

  &__container {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin: 45px 0 0 auto;
    max-width: 65%;

    @media screen and (max-width: 1279px) {
      max-width: 100%;
      padding: 0 0 0 25px;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      margin-top: 30px;
    }
  }

  &__list {
    border-left: 1px solid rgba(216, 33, 33, .2);
    border-right: 1px solid rgba(216, 33, 33, .2);
    height: 100%;
    padding: 25px 0;
    width: 50%;

    &:not(:first-child) {
      margin-left: 48px;
    }

    @media screen and (max-width: 767px) {
      margin-left: 0 !important;
      width: 100%;
    }
  }

  &__item {
    position: relative;

    &:not(:first-child) {
      margin-top: 45px;
    }

    &:before {
      content: url('/img/arrow.svg');
      left: -25px;
      position: absolute;
    }

    p {
      color: #808080;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: -.2px;
      line-height: 15px;
      margin-top: 15px;
    }
  }
}