@import '../global';

.nav-menu {
  align-items: center;
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__link {
    @include transition();

    color: rgba(255,255,255,.5);
    font-weight: 600;

    &:hover {
      opacity: .7;
    }
  }
}