@import '../global';

.pagination {
  display: flex;
  margin-top: 48px;

  li {
    margin-left: 12px;

    &:first-child {
      margin-left: 0;
    }

    &:nth-child(6),
    &:nth-child(7) {
      @media screen and (max-width: 500px) {
        display: none;
      }
    }
  }

  &__btn {
    @include transition();

    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,.1);
    color: #fff;
    display: flex;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    width: 60px;

    @media screen and (max-width: 767px) {
      height: 30px;
      width: 30px;
    }

    &.active,
    &:hover {
      background-color: rgba(255,255,255,.1);
      color: rgba(255,255,255,.5);
    }
  }
}