@import '../global';

.price-content {
  &__section {
    padding: 30px 0 95px !important;
  }

  &__container {
    display: flex;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__aside {
    margin-right: 60px;
    width: 235px;

    .title {
      margin-top: 0;
    }

    @media screen and (max-width: 767px) {
      margin-right: 0;
      max-width: 100%;
      width: 100%;
    }
  }

  &__text {
    color: rgba(255, 255, 255, .5);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -.19px;
    line-height: 15px;
  }

  &__caption {
    font-size: 16px;
    line-height: 20px;
  }

  &__list {
    margin-top: 10px;
    li {
      margin-top: 5px;

      &:before {
        content: '•';
        margin-right: 5px;
      }
    }
  }

  &__table-content {
    margin-top: 20px;
    max-width: 850px;
    overflow-x: auto;
  }

  &__table {
    background-color: #000;
    border-collapse: collapse;
    display: table;
    width: 100%;

    &-row {
      display: table-row;

      .price-content__table-cell {
        &:last-child {
          border: 0;
        }
      }

      &:first-child {
        .price-content__table-cell {
          p.heading {
            margin-bottom: 10px;
          }
        }
      }
    }

    &-cell {
      border-right: 2px solid #212121;
      display: table-cell;
      min-width: 210px;
      padding: 30px 30px 20px;
      width: 25%;

      .block {
        align-items: flex-start;
        display: flex;

        img {
          margin-right: 15px;
          & + ul.price-content__list {
            margin-top: 0;
            li:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }

    &-head {
      width: 100%;

      .price-content__text {
        &:first-child {
          text-align: right;
        }
      }
    }

    &-divider {
      background-color: rgba(255, 255, 255, .5);
      height: 1px;
      transform: rotate(20deg);
      width: 100%;
    }
  }
}