@import '../global';

.process {
  &__header {
    align-items: center;
    display: flex;
  }

  &__arrow {
    margin-left: 35px;
  }

  &__desc {
    color: #808080;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    margin-top: 15px;
  }

  &__step {
    align-items: center;
    background-color: #121212;
    border: 0;
    border-radius: 50%;
    color: #d82121;
    display: flex;
    height: 28px;
    justify-content: center;
    position: absolute;
    width: 28px;
    z-index: 3;
  }
}