@import '../global';

.section {
  background: #121212 no-repeat center;
  padding: 100px 0 90px;

  &_type {
    &_gradient {
      background: radial-gradient(670.03px at 29.92% 100%, #404040 0%, #212121 100%);
    }
  }

  &__title {
    font-size: 42px;
    line-height: 60px;
    margin-top: 15px;
  }
}