@import '../global';

.service-content {
  &__section {
    background: url('/img/oval-bg.png') center no-repeat;
  }

  &__title {
    align-items: center;
    display: flex;
    justify-content: center;

    span {
      white-space: nowrap;
    }

    .divider {
      margin: 0 30px !important;
    }
  }

  &__subtitle {
    text-align: center;
  }

  &__container {
    margin-top: 40px;
    padding: 0 12.5px;
  }

  &__item {
    @include transition();

    background: linear-gradient(207.95deg, rgba(0, 0, 0, .0001) 34.35%, rgba(0, 0, 0, .55) 70.4%) center no-repeat;
    display: block;
    height: 360px;
    position: relative;

    &:hover {
      transform: scale(1.1);
    }

    &-title {
      bottom: 22px;
      font-size: 16px;
      font-weight: 700;
      left: 24px;
      position: absolute;
    }
  }

  &__btn {
    margin: 35px auto 0;
    max-width: 400px;
    width: 100%;

    .btn {
      font-size: 20px;
    }
  }
}

.services {
  &__btn {
    margin: 0 auto;
    margin-top: 40px;
    width: 522px;
  }

  &__reason-content {
    display: flex;
    justify-content: flex-end;
    position: relative;

    img {
      bottom: -90px;
      left: 0;
      position: absolute;
      width: 514px;
    }
  }

  &__reason-desc {
    max-width: 588px;

    .title {
      letter-spacing: -1.5px;
    }
  }

  &__process {

  }
}