@import '../global';

.service-content {
  &__section {
    background: url('/img/oval-bg.png') center no-repeat;

    @media screen and (max-width: 1023px) {
      background: radial-gradient(670.03px at 29.92% 100%, #404040 0%, #212121 100%);
    }
  }

  &__title {
    align-items: center;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1279px) {
      text-align: center;
    }

    span {
      white-space: nowrap;

      @media screen and (max-width: 1279px) {
        white-space: normal;
      }
    }

    .divider {
      margin: 0 30px !important;

      @media screen and (max-width: 1279px) {
        display: none;
      }
    }
  }

  &__subtitle {
    text-align: center;
  }

  &__container {
    margin-top: 40px;
    padding: 0 12.5px;

    .grid {
      @media screen and (max-width: 500px) {
        margin: 25px 0 0;
      }
    }

    .grid__item_20 {
      @media screen and (max-width: 500px) {
        width: 100% !important;
      }

      @media screen and (max-width: 1023px) {
        width: 50%;
      }
    }
  }

  &__item {
    @include transition();

    background: linear-gradient(207.95deg, rgba(0, 0, 0, .0001) 34.35%, rgba(0, 0, 0, .55) 70.4%) center no-repeat;
    display: block;
    height: 360px;
    position: relative;

    &:hover {
      transform: scale(1.1);
    }

    &-title {
      bottom: 22px;
      font-size: 16px;
      font-weight: 700;
      left: 24px;
      position: absolute;
    }
  }

  &__btn {
    margin: 35px auto 0;
    max-width: 400px;
    width: 100%;

    .btn {
      font-size: 20px;
    }
  }
}

.services {
  &__btn {
    margin: 40px auto 0;
    width: 522px;

    @media screen and (max-width: 500px) {
      width: 100%;

      .btn {
        height: max-content;
        padding: 5px 0;
        text-align: center;
      }
    }
  }

  &__reason-content {
    display: flex;
    justify-content: flex-end;
    position: relative;

    img {
      bottom: -90px;
      left: 0;
      position: absolute;
      width: 514px;

      @media screen and (max-width: 1023px) {
        display: none;
      }
    }
  }

  &__reason-desc {
    max-width: 588px;

    @media screen and (max-width: 1023px) {
      max-width: 100%;
    }

    .title {
      letter-spacing: -1.5px;

      @media screen and (max-width: 1023px) {
        letter-spacing: normal;
      }
    }
  }

  &__process {
    .grid__item {
      position: relative;

      @media screen and (max-width: 1023px) {
        width: 33.3333333% !important;
      }

      @media screen and (max-width: 767px) {
        width: 50% !important;
      }

      @media screen and (max-width: 500px) {
        width: 100% !important;
      }

      .heading {
        display: block;
        height: 72px;
        margin-top: 20px;

        @media screen and (max-width: 767px) {
          height: max-content;
        }
      }
    }
  }

  &__info {
    padding: 50px 0;
    .section__desc {
      text-align: left;
    }
  }
}

.service-page {
  &__top-panel {
    background: url('/img/service-top-bg.png') center no-repeat;
    height: 720px;

    @media screen and (max-width: 767px) {
      background-position: -50px center !important;
      height: max-content;
    }

    &-content {
      float: right;
      max-width: 50%;

      @media screen and (max-width: 767px) {
        float: none;
        max-width: 100%;
      }

      .btn {
        margin-top: 30px;
      }
    }

    &-desc {
      color: #8f8f8f;
      font-size: 16px;
      line-height: 20px;
      margin-top: 30px;
      max-height: 320px;
      overflow-y: auto;

      @media screen and (max-width: 767px) {
        color: #fff;
      }

      p + p {
        margin-top: 20px;
      }
    }
  }

  &__aside {
    .title {
      font-size: 16px;
      line-height: 20px;
    }

    .btn {
      margin-top: 24px;
    }
  }

  &__purpose-section {
    background: url('/img/purpose-bg.png') center no-repeat;
    padding: 80px 0 !important;

    @media screen and (max-width: 1279px) {
      padding: 50px 0 !important;
    }

    @media screen and (max-width: 767px) {
      padding: 30px 0 !important;
    }
  }

  &__purpose-content {
    max-width: 50%;

    @media screen and (max-width: 1279px) {
      max-width: 60%;
    }

    @media screen and (max-width: 767px) {
      max-width: 100%;
    }

    .section__desc {
      text-align: left;
    }

    .title {
      line-height: 55px;
      margin-top: 0;

      @media screen and (max-width: 767px) {
        line-height: 30px;
      }
    }
  }

  &__purpose-btn {
    align-items: center;
    display: flex;
    margin-top: 30px;

    @media screen and (max-width: 500px) {
      flex-direction: column;
    }

    .btn {
      max-width: 360px;
    }

    .btn__label {
      font-size: 13px;
      letter-spacing: -.19px;
      line-height: 15px;
      margin-left: 30px;
      max-width: 150px;
      opacity: .5;

      @media screen and (max-width: 500px) {
        margin-left: 0;
        margin-top: 30px;
        max-width: 100%;
      }
    }
  }
}