@import '../global';

.thanksgiving-content {
  &__section {
    .grid {
      margin: 40px -15px 0;

      @media screen and (max-width: 500px) {
        margin: 40px 0 0;
      }

      .grid__item {
        padding: 0 15px 30px 15px;

        @media screen and (max-width: 500px) {
          width: 100% !important;
        }

        @media screen and (max-width: 767px) {
          width: 50%;
        }
      }
    }
  }

  &__title {
    align-items: center;
    display: flex;

    @media screen and (max-width: 1023px) {
      justify-content: space-between;
    }

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }

    span {
      white-space: nowrap;

      @media screen and (max-width: 767px) {
        white-space: normal;
      }
    }

    .divider {
      margin: 0 30px;

      @media screen and (max-width: 1023px) {
        display: none;
      }
    }

    .btn {
      font-size: 14px;
      max-width: 170px;

      @media screen and (max-width: 767px) {
        margin-top: 15px;
        max-width: 100%;
      }
    }
  }

  &__img {
    @include transition();

    cursor: pointer;
    max-height: 370px;
    width: 100%;

    object-fit: contain;

    &:hover {
      transform: scale(1.1);
    }
  }
}