footer.footer.container
    .footer__content
        .footer__logo
            img(src="img/footer-logo.svg" alt)

        .footer__nav
            .footer__caption Наши услуги
            ul.footer__nav-list
                li.footer__nav-item
                    a(href="#") Конференция
                li.footer__nav-item
                    a(href="#") День рождения
                li.footer__nav-item
                    a(href="#") Тим-билдинг
                li.footer__nav-item
                    a(href="#") Презентация
                li.footer__nav-item
                    a(href="#") Открытие
                li.footer__nav-item
                    a(href="#") Тест-драйв
                li.footer__nav-item
                    a(href="#") Выпускной
                li.footer__nav-item
                    a(href="#") Свадьба
            ul.footer__nav-list
                li.footer__nav-item
                    a(href="#") Мероприятие для клиентов
                li.footer__nav-item
                    a(href="#") Промо-событие продукта
                li.footer__nav-item
                    a(href="#") Бизнес – раут
                li.footer__nav-item
                    a(href="#") Корпоративный вечер
                li.footer__nav-item
                    a(href="#") Флешмоб
                li.footer__nav-item
                    a(href="#") Деловая встреча
                li.footer__nav-item
                    a(href="#") Розыгрыш
        .footer__contacts
            .footer__caption Остались  вопросы?
            ul.footer__contacts-list
                li.footer__contacts-item
                    label Позвоните нам
                    a(href="tel:+79156425505") + 7 915 642 55 05
                li.footer__contacts-item
                    label Напишите на e-mail
                    a(href="mailto:info@grand-fest.com") info@grand-fest.com
            a.btn.btn_size_middle(href="#") Заказать обратный звонок
            .footer__socials
                .footer__caption Давайте дружить в социальных сетях!
                ul.footer__socials-list
                    li
                        a.btn.btn_size_middle.btn__social(href="#" style="background-image: url('img/vk.svg')") Vkontakte
                    li
                        a.btn.btn_size_middle.btn__social(href="#" style="background-image: url('img/fb.svg')") Facebook
                    li
                        a.btn.btn_size_middle.btn__social(href="#" style="background-image: url('img/instagram.svg')") Instagram
                    li
                        a.btn.btn_size_middle.btn__social(href="#" style="background-image: url('img/youtube.svg')") Youtube

    .footer__copyright
        span GrandFest Event-group, 2018
        span Разработка сайта: UX MIND