extends root/layout

block container
    include include/header

    section.section.section_type_gradient.about__top-panel
        .container(data-aos="fade-up")
            .top-panel__title
                p.subtitle Неподражаемая ведущая
                p.title Анна Ефремова
            .top-panel__text
                p «Мы меняем старые авто на новые, избавляемся от устаревших моделей сотовых телефонов, выбрасываем дедушкин компьютер, потому что все прогрессирует и мы меняемся вместе с технологиями. Мы каждый день в офисах и на производстве стремимся к продвинутому.
                p Так почему свадьба должна быть такой же, как у наших бабушек и дедушек 50 лет назад?»
                p(style="font-weight: 700; color: #fff") С уважением, Анна Ефремова

    section.section
        .container(data-aos="fade-up")
            .about__facts-content
                .about__facts-list
                    p.title.section__title.about__facts-title Несколько фактов
                    ul.about__facts-list
                        li Закончила школу телевидения «Останкино», г. Москва
                        li Работает на ТВ уже более 10 лет
                        li Ведущая собственных авторских телевизионных проектов и программ. Каждый проект – полноценная программа (не менее 30 минут в эфире) с четко продуманной режиссурой
                        li Высшее филологическое и экономическое образование, степень МВА американского института
                        li Свободное владение языками: английским и немецким
                        li Многочисленные курсы повышения квалификации, бизнес-тренинги и конференции в event-сфере
                .about__facts-photos
                    img(src="img/facts-1.png" alt)
                    img(src="img/facts-2.png" alt)
                    img(src="img/facts-3.png" alt)
                    img(src="img/facts-4.png" alt)

    section.section.section_type_gradient.about__biography
        .container(data-aos="fade-up")
            .about__biography-content
                img(src="img/biography-photo.png" alt)
                .about__biography-desc
                    p.title.section__title Краткая биография
                    p Вы уже поняли, что имеете дело с прогрессивным ведущим, который меняет не только гаджеты, но и подходы к ведению праздников? И это при том, что я в сфере шоу-бизнеса больше 10 лет , мог бы вполне себе занять тепленькое местечко и работать по сценарию 11-летней давности. Но мне повезло: во мне уживаются экспериментатор, непоседа, романтик и оптимист.
                    p И этих четыре человека знают, что нужно делать ;) Я не говорю о ликвидации традиций — ни в коем случае. Наоборот, я хочу помочь эти традиции улучшить или трансформировать в пространстве XXI века. Если вам близка моя позиция, то самое время узнать меня ближе!
                    p Поэтому знайте, что выбор ведущего — это вопрос контакта и комфорта, а этого не передаст ни одна высокоскоростная технология.
                    a.btn.btn_size_big(href="#") Написать Анне

    section.section
        .container(data-aos="fade-up")
            .about__rewards-content
                .about__rewards-list
                    p.title.section__title.about__rewards-title Награды и заслуги
                    .about__rewards-slider
                        .about__rewards-item(data-number="1") Продюсер в телепередаче «Доброе утро» на Федеральном канале «Россия 1», участница жюри городских конкурсов и фестивалей
                        .about__rewards-item(data-number="2") Продюсер в телепередаче «Доброе утро» на Федеральном канале «Россия 1», участница жюри городских конкурсов и фестивалей
                        .about__rewards-item(data-number="3") Продюсер в телепередаче «Доброе утро» на Федеральном канале «Россия 1», участница жюри городских конкурсов и фестивалей
                        .about__rewards-item(data-number="4") Продюсер в телепередаче «Доброе утро» на Федеральном канале «Россия 1», участница жюри городских конкурсов и фестивалей
                        .about__rewards-item(data-number="5") Продюсер в телепередаче «Доброе утро» на Федеральном канале «Россия 1», участница жюри городских конкурсов и фестивалей
                .about__rewards-photos
                    img(src="img/rewards-1.png" alt)
                    img(src="img/rewards-2.png" alt)
                    img(src="img/rewards-3.png" alt)
                    img(src="img/rewards-4.png" alt)

    section.section.section_type_gradient.about__thanks
        .container(data-aos="fade-up")
            p.subtitle.section__subtitle Признание - это…
            .title.section__title Благодарственные письма
            .grid.about__thanks-slider
                - for (var i = 0; i < 8; i++) {
                .grid__item.grid__item_25
                    img(src="img/letter.png" alt="letter")
                - }

    section.section(style="background-image: url('img/contact-bg.png')")
        .container(data-aos="fade-up")
            p.title.section__title.contact-content__title Свяжитесь с нами прямо сейчас,#[br] и Ваш праздник станет незабываемым.
            .contact-form__container
                form.grid
                    .grid__item.grid__item_40
                        input.input(placeholder="Пожалуйста, представьтесь" style="background-image: url('img/user.svg')")
                        input.input(placeholder="Номер телефона или e-mail*" style="background-image: url('img/phone.svg')")
                        input.input(type="date" placeholder="Дата планируемого мероприятия" style="background-image: url('img/calendar.svg')")
                    .grid__item.grid__item_60
                        textarea.textarea(placeholder="По желанию, укажите повод мероприятия. Можете описать Ваши пожелания и любую другую информацию…")
                        p Нажимая на кнопку «отправить заявку», вы даёте согласие на обработку #[a.link(href="#") персональных данных]

                    .grid__item.grid__item_30.centered
                        button.btn.btn_size_big.btn_solid Отправить заявку
    include include/footer