extends root/layout

block container
    include include/header

    section.section.section_type_gradient
        .container(data-aos="fade-up")
            .contacts__container
                .contacts__content
                    p.title.section__title Контакты
                    ul.contacts__list
                        li.contacts__item
                            label Наш адрес
                            p.contacts__text Мы в процессе переезда! -)
                        li.contacts__item
                            label Позвоните нам:
                            .contacts__phone.contacts__text
                                a(href="tel:+79156425505") + 7 915 642 55 05
                                span.contact__item
                                    svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        rect(width='18', height='18', fill='black', fill-opacity='0', transform='translate(1 1)')
                                        path(d='M9.99989 18.9999C14.9704 18.9999 18.9998 14.9705 18.9998 10C18.9998 5.0295 14.9704 1.00011 9.99989 1.00011C5.02939 1.00011 1 5.0295 1 10C1 14.9705 5.02939 18.9999 9.99989 18.9999Z', stroke='white')
                                        path(d='M8.12594 11.3113L12.1932 14.3821L14.2463 5.61813L3.75366 9.74543L6.94645 10.803L12.7733 6.89444L8.12594 11.3113Z', fill='white')
                                        path(d='M9.44785 12.3093L7.82092 13.9496L8.12597 11.3113L9.44785 12.3093Z', fill='white')
                                span.contact__item
                                    svg(width='18', height='18', viewbox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        rect(width='18', height='18', fill='black', fill-opacity='0')
                                        rect(width='18', height='18', fill='black', fill-opacity='0')
                                        path(fill-rule='evenodd', clip-rule='evenodd', d='M17.017 4.34421L17.0222 4.36491C17.5398 6.72849 17.5398 9.12542 17.0222 11.4891L17.017 11.5098C16.5984 13.2022 14.7109 15.0183 12.9777 15.3962L12.9581 15.4002C11.5566 15.6676 10.1448 15.801 8.73352 15.801C8.31824 15.801 7.90283 15.7881 7.48767 15.7648L5.57349 17.7546C5.09961 18.248 4.26636 17.9121 4.26636 17.2284V15.3391C2.59778 14.8626 0.85083 13.1299 0.449585 11.5097L0.444946 11.489C-0.0726318 9.12542 -0.0726318 6.72849 0.444946 4.36491L0.449585 4.34421C0.868774 2.65175 2.75623 0.835648 4.48889 0.457821L4.50903 0.453796C7.31201 -0.081028 10.1545 -0.081028 12.9581 0.453796L12.9777 0.457821C14.7109 0.835648 16.5984 2.65175 17.017 4.34421ZM12.6561 13.8767C13.7948 13.6231 15.2279 12.2504 15.5074 11.1463C15.9738 9.00983 15.9738 6.84408 15.5074 4.7076C15.2279 3.60345 13.7954 2.23074 12.6561 1.97712C10.0533 1.48198 7.4137 1.48198 4.8103 1.97712C3.67163 2.23074 2.23914 3.60345 1.95911 4.7076C1.49329 6.84402 1.49329 9.00978 1.95911 11.1462M12.6561 13.8767C11.1655 14.1602 9.66309 14.2814 8.16211 14.2398L12.6561 13.8767ZM8.16211 14.2398C8.1322 14.239 8.10352 14.2505 8.08276 14.2719L8.16211 14.2398ZM8.08276 14.2719L6.68506 15.7066L8.08276 14.2719ZM6.68506 15.7066L5.19849 17.2323L6.68506 15.7066ZM5.19849 17.2323C5.08984 17.3456 4.89893 17.2686 4.89893 17.1121L5.19849 17.2323ZM4.89893 17.1121V13.9824V17.1121ZM4.89893 13.9824C4.89893 13.9307 4.86194 13.8868 4.8103 13.8767L4.89893 13.9824Z', fill='white')
                                        path(d='M11.2105 12.5909C11.0354 12.5378 10.8686 12.5021 10.7137 12.4378C9.10828 11.7717 7.63079 10.9124 6.46044 9.59521C5.7949 8.84617 5.27399 8.00051 4.83366 7.10557C4.62484 6.68116 4.44887 6.24014 4.2695 5.80198C4.10595 5.40242 4.34685 4.98962 4.60052 4.68857C4.83854 4.40603 5.14483 4.1898 5.47654 4.03045C5.73544 3.90606 5.99083 3.97777 6.17992 4.19722C6.58868 4.67166 6.96415 5.17037 7.2682 5.72032C7.45516 6.05858 7.40386 6.47207 7.06502 6.70227C6.98267 6.75822 6.90762 6.8239 6.83091 6.8871C6.76362 6.94248 6.70031 6.99844 6.65419 7.07343C6.56988 7.21064 6.56585 7.37247 6.62014 7.52164C7.03799 8.66996 7.74229 9.56289 8.89809 10.0438C9.08304 10.1208 9.26879 10.2104 9.48185 10.1855C9.83869 10.1438 9.95422 9.75244 10.2043 9.54794C10.4487 9.3481 10.761 9.34545 11.0243 9.51205C11.2876 9.67871 11.5429 9.85762 11.7966 10.0384C12.0457 10.2159 12.2936 10.3895 12.5234 10.5918C12.7443 10.7864 12.8204 11.0416 12.696 11.3056C12.4682 11.7891 12.1369 12.1914 11.6589 12.4482C11.5239 12.5206 11.3627 12.544 11.2105 12.5909C11.3627 12.544 11.0354 12.5377 11.2105 12.5909Z', fill='white')
                                        path(d='M8.73784 3.47757C10.8377 3.5364 12.5625 4.92999 12.9321 7.00603C12.995 7.35976 13.0175 7.72143 13.0455 8.08045C13.0573 8.23146 12.9718 8.37495 12.8088 8.3769C12.6404 8.37891 12.5647 8.23808 12.5538 8.08712C12.5322 7.78831 12.5172 7.48817 12.476 7.19183C12.2586 5.62756 11.0112 4.3334 9.45422 4.05569C9.21993 4.01389 8.98012 4.0029 8.74279 3.978C8.59275 3.96224 8.39624 3.95316 8.363 3.76666C8.33511 3.61029 8.46709 3.48579 8.61598 3.4778C8.65647 3.47555 8.69718 3.47739 8.73784 3.47757C8.69718 3.47739 10.8377 3.5364 8.73784 3.47757Z', fill='white')
                                        path(d='M11.9291 7.61446C11.9257 7.64068 11.9238 7.70233 11.9085 7.76042C11.8527 7.97124 11.5331 7.99764 11.4595 7.78486C11.4377 7.72171 11.4344 7.64988 11.4343 7.58191C11.4336 7.13714 11.3369 6.69284 11.1126 6.30587C10.8821 5.90814 10.5298 5.57379 10.1167 5.37148C9.86688 5.24916 9.59671 5.17313 9.32291 5.12781C9.20324 5.10803 9.0823 5.09601 8.96205 5.07928C8.81633 5.05904 8.73852 4.96616 8.74542 4.82256C8.75186 4.68799 8.8502 4.59121 8.99684 4.59949C9.47876 4.62686 9.94423 4.73101 10.3727 4.95788C11.2439 5.41927 11.7416 6.14755 11.8868 7.12001C11.8934 7.16406 11.904 7.20771 11.9073 7.25193C11.9155 7.36114 11.9207 7.47046 11.9291 7.61446C11.9207 7.47046 11.9257 7.64068 11.9291 7.61446Z', fill='white')
                                        path(d='M10.623 7.56362C10.4473 7.56679 10.3533 7.46954 10.3351 7.30846C10.3225 7.19615 10.3126 7.08234 10.2858 6.97307C10.233 6.75788 10.1186 6.55844 9.93759 6.42658C9.85213 6.36429 9.75529 6.31892 9.65384 6.28965C9.52497 6.25244 9.39115 6.26268 9.26256 6.23116C9.12293 6.19695 9.0457 6.08389 9.06767 5.95288C9.08762 5.83367 9.20361 5.74062 9.33387 5.75005C10.148 5.80883 10.7299 6.22973 10.8129 7.18815C10.8188 7.25578 10.8257 7.32727 10.8107 7.39196C10.785 7.50272 10.703 7.55822 10.623 7.56362C10.703 7.55822 10.4473 7.56679 10.623 7.56362Z', fill='white')

                            .contacts__phone.contacts__text
                                a(href="tel:+79517018778") + 7 951 701 87 78
                                span.contact__item
                                    svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        rect(width='18', height='18', fill='black', fill-opacity='0', transform='translate(1 1)')
                                        path(d='M9.99989 18.9999C14.9704 18.9999 18.9998 14.9705 18.9998 10C18.9998 5.0295 14.9704 1.00011 9.99989 1.00011C5.02939 1.00011 1 5.0295 1 10C1 14.9705 5.02939 18.9999 9.99989 18.9999Z', stroke='white')
                                        path(d='M8.12594 11.3113L12.1932 14.3821L14.2463 5.61813L3.75366 9.74543L6.94645 10.803L12.7733 6.89444L8.12594 11.3113Z', fill='white')
                                        path(d='M9.44785 12.3093L7.82092 13.9496L8.12597 11.3113L9.44785 12.3093Z', fill='white')
                                span.contact__item
                                    svg(width='18', height='18', viewbox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        rect(width='18', height='18', fill='black', fill-opacity='0')
                                        rect(width='18', height='18', fill='black', fill-opacity='0')
                                        path(fill-rule='evenodd', clip-rule='evenodd', d='M17.017 4.34421L17.0222 4.36491C17.5398 6.72849 17.5398 9.12542 17.0222 11.4891L17.017 11.5098C16.5984 13.2022 14.7109 15.0183 12.9777 15.3962L12.9581 15.4002C11.5566 15.6676 10.1448 15.801 8.73352 15.801C8.31824 15.801 7.90283 15.7881 7.48767 15.7648L5.57349 17.7546C5.09961 18.248 4.26636 17.9121 4.26636 17.2284V15.3391C2.59778 14.8626 0.85083 13.1299 0.449585 11.5097L0.444946 11.489C-0.0726318 9.12542 -0.0726318 6.72849 0.444946 4.36491L0.449585 4.34421C0.868774 2.65175 2.75623 0.835648 4.48889 0.457821L4.50903 0.453796C7.31201 -0.081028 10.1545 -0.081028 12.9581 0.453796L12.9777 0.457821C14.7109 0.835648 16.5984 2.65175 17.017 4.34421ZM12.6561 13.8767C13.7948 13.6231 15.2279 12.2504 15.5074 11.1463C15.9738 9.00983 15.9738 6.84408 15.5074 4.7076C15.2279 3.60345 13.7954 2.23074 12.6561 1.97712C10.0533 1.48198 7.4137 1.48198 4.8103 1.97712C3.67163 2.23074 2.23914 3.60345 1.95911 4.7076C1.49329 6.84402 1.49329 9.00978 1.95911 11.1462M12.6561 13.8767C11.1655 14.1602 9.66309 14.2814 8.16211 14.2398L12.6561 13.8767ZM8.16211 14.2398C8.1322 14.239 8.10352 14.2505 8.08276 14.2719L8.16211 14.2398ZM8.08276 14.2719L6.68506 15.7066L8.08276 14.2719ZM6.68506 15.7066L5.19849 17.2323L6.68506 15.7066ZM5.19849 17.2323C5.08984 17.3456 4.89893 17.2686 4.89893 17.1121L5.19849 17.2323ZM4.89893 17.1121V13.9824V17.1121ZM4.89893 13.9824C4.89893 13.9307 4.86194 13.8868 4.8103 13.8767L4.89893 13.9824Z', fill='white')
                                        path(d='M11.2105 12.5909C11.0354 12.5378 10.8686 12.5021 10.7137 12.4378C9.10828 11.7717 7.63079 10.9124 6.46044 9.59521C5.7949 8.84617 5.27399 8.00051 4.83366 7.10557C4.62484 6.68116 4.44887 6.24014 4.2695 5.80198C4.10595 5.40242 4.34685 4.98962 4.60052 4.68857C4.83854 4.40603 5.14483 4.1898 5.47654 4.03045C5.73544 3.90606 5.99083 3.97777 6.17992 4.19722C6.58868 4.67166 6.96415 5.17037 7.2682 5.72032C7.45516 6.05858 7.40386 6.47207 7.06502 6.70227C6.98267 6.75822 6.90762 6.8239 6.83091 6.8871C6.76362 6.94248 6.70031 6.99844 6.65419 7.07343C6.56988 7.21064 6.56585 7.37247 6.62014 7.52164C7.03799 8.66996 7.74229 9.56289 8.89809 10.0438C9.08304 10.1208 9.26879 10.2104 9.48185 10.1855C9.83869 10.1438 9.95422 9.75244 10.2043 9.54794C10.4487 9.3481 10.761 9.34545 11.0243 9.51205C11.2876 9.67871 11.5429 9.85762 11.7966 10.0384C12.0457 10.2159 12.2936 10.3895 12.5234 10.5918C12.7443 10.7864 12.8204 11.0416 12.696 11.3056C12.4682 11.7891 12.1369 12.1914 11.6589 12.4482C11.5239 12.5206 11.3627 12.544 11.2105 12.5909C11.3627 12.544 11.0354 12.5377 11.2105 12.5909Z', fill='white')
                                        path(d='M8.73784 3.47757C10.8377 3.5364 12.5625 4.92999 12.9321 7.00603C12.995 7.35976 13.0175 7.72143 13.0455 8.08045C13.0573 8.23146 12.9718 8.37495 12.8088 8.3769C12.6404 8.37891 12.5647 8.23808 12.5538 8.08712C12.5322 7.78831 12.5172 7.48817 12.476 7.19183C12.2586 5.62756 11.0112 4.3334 9.45422 4.05569C9.21993 4.01389 8.98012 4.0029 8.74279 3.978C8.59275 3.96224 8.39624 3.95316 8.363 3.76666C8.33511 3.61029 8.46709 3.48579 8.61598 3.4778C8.65647 3.47555 8.69718 3.47739 8.73784 3.47757C8.69718 3.47739 10.8377 3.5364 8.73784 3.47757Z', fill='white')
                                        path(d='M11.9291 7.61446C11.9257 7.64068 11.9238 7.70233 11.9085 7.76042C11.8527 7.97124 11.5331 7.99764 11.4595 7.78486C11.4377 7.72171 11.4344 7.64988 11.4343 7.58191C11.4336 7.13714 11.3369 6.69284 11.1126 6.30587C10.8821 5.90814 10.5298 5.57379 10.1167 5.37148C9.86688 5.24916 9.59671 5.17313 9.32291 5.12781C9.20324 5.10803 9.0823 5.09601 8.96205 5.07928C8.81633 5.05904 8.73852 4.96616 8.74542 4.82256C8.75186 4.68799 8.8502 4.59121 8.99684 4.59949C9.47876 4.62686 9.94423 4.73101 10.3727 4.95788C11.2439 5.41927 11.7416 6.14755 11.8868 7.12001C11.8934 7.16406 11.904 7.20771 11.9073 7.25193C11.9155 7.36114 11.9207 7.47046 11.9291 7.61446C11.9207 7.47046 11.9257 7.64068 11.9291 7.61446Z', fill='white')
                                        path(d='M10.623 7.56362C10.4473 7.56679 10.3533 7.46954 10.3351 7.30846C10.3225 7.19615 10.3126 7.08234 10.2858 6.97307C10.233 6.75788 10.1186 6.55844 9.93759 6.42658C9.85213 6.36429 9.75529 6.31892 9.65384 6.28965C9.52497 6.25244 9.39115 6.26268 9.26256 6.23116C9.12293 6.19695 9.0457 6.08389 9.06767 5.95288C9.08762 5.83367 9.20361 5.74062 9.33387 5.75005C10.148 5.80883 10.7299 6.22973 10.8129 7.18815C10.8188 7.25578 10.8257 7.32727 10.8107 7.39196C10.785 7.50272 10.703 7.55822 10.623 7.56362C10.703 7.55822 10.4473 7.56679 10.623 7.56362Z', fill='white')

                        li.contacts__item
                            label Напишите на e-mail:
                            a.contacts__text.link(href="mailto:info@efremova-event.ru") info@efremova-event.ru
                        li.contacts__item
                            label Мы в социальных сетях:
                            ul.contacts__socials-list
                                li
                                    a.btn.btn_size_middle.btn__social.contacts__btn(href="#" style="background-image: url('img/vk.svg')") Vkontakte
                                li
                                    a.btn.btn_size_middle.btn__social.contacts__btn(href="#" style="background-image: url('img/fb.svg')") Facebook
                                li
                                    a.btn.btn_size_middle.btn__social.contacts__btn(href="#" style="background-image: url('img/instagram.svg')") Instagram
                                li
                                    a.btn.btn_size_middle.btn__social.contacts__btn(href="#" style="background-image: url('img/youtube.svg')") Youtube
                .contacts__map#map

    section.section(style="background-image: url('img/contact-bg.png')")
        .container(data-aos="fade-up")
            p.title.section__title.contact-content__title Свяжитесь с нами прямо сейчас,#[br] и Ваш праздник станет незабываемым.
            .contact-form__container
                form.grid
                    .grid__item.grid__item_40
                        input.input(placeholder="Пожалуйста, представьтесь" style="background-image: url('img/user.svg')")
                        input.input(placeholder="Номер телефона или e-mail*" style="background-image: url('img/phone.svg')")
                        input.input(type="date" placeholder="Дата планируемого мероприятия" style="background-image: url('img/calendar.svg')")
                    .grid__item.grid__item_60
                        textarea.textarea(placeholder="По желанию, укажите повод мероприятия. Можете описать Ваши пожелания и любую другую информацию…")
                        p Нажимая на кнопку «отправить заявку», вы даёте согласие на обработку #[a.link(href="#") персональных данных]

                    .grid__item.grid__item_30.centered
                        button.btn.btn_size_big.btn_solid Отправить заявку
    include include/footer