extends root/layout
include mixins/lightbox

block container
    include include/header

    section.section.section_type_gradient.gallery__section
        .container(data-aos="fade-up").gallery__container
            .aside.gallery__aside
                p.title.section__title Галерея
                ul.gallery__list
                    li.gallery__item
                        a.btn.gallery__btn.active(href="#") Тимбилдинг
                    li.gallery__item
                        a.btn.gallery__btn(href="#") Звёздный альбом
                    li.gallery__item
                        a.btn.gallery__btn(href="#") Бизнес-мероприятия
                    li.gallery__item
                        a.btn.gallery__btn(href="#") Выпускные
                    li.gallery__item
                        a.btn.gallery__btn(href="#") Клубная жизнь
                    li.gallery__item
                        a.btn.gallery__btn(href="#") Корпоративы
                    li.gallery__item
                        a.btn.gallery__btn(href="#") Свадьбы
            .gallery__content
                .gallery__materials
                    a.active(href="#") Все материалы
                    a(href="#") Только фото
                    a(href="#") Только видео
                .gallery
                    -for (var i = 0; i < 11; i++) {
                        .img__container(data-src="img/gallery-photo.png" data-sign="image 1")
                            img(src="img/gallery-photo.png" alt)
                            .img__overlay
                                span Увеличить фото
                    -}
                    .img__container.img__container_type_video(data-src="img/video-stop.png" data-sign="hello everybody")
                       img(src="img/video-stop.png" alt)
                       .img__overlay
                            span Видео

                a.btn.btn_size_middle(href="#") Загрузить ещё


    include include/footer

    .lightbox__container
        +lightbox("photo-1", "img/gallery-photo.png", "Подпись к фото")
