extends root/layout
include mixins/lightbox

block container
    include include/header

    section.section.section_type_gradient.gallery__section
        .container(data-aos="fade-up").gallery__container
            .aside.gallery__aside
                p.title.section__title Галерея
                ul.gallery__list
                    li.gallery__item
                        a.btn.gallery__btn.active(href="#") Тимбилдинг
                    li.gallery__item
                        a.btn.gallery__btn(href="#") Звёздный альбом
                    li.gallery__item
                        a.btn.gallery__btn(href="#") Бизнес-мероприятия
                    li.gallery__item
                        a.btn.gallery__btn(href="#") Выпускные
                    li.gallery__item
                        a.btn.gallery__btn(href="#") Клубная жизнь
                    li.gallery__item
                        a.btn.gallery__btn(href="#") Корпоративы
                    li.gallery__item
                        a.btn.gallery__btn(href="#") Свадьбы
            .gallery__content
                .gallery__materials.tab__wrapper
                    a.tab.active(href="#") Все материалы
                    a.tab(href="#") Только фото
                    a.tab(href="#") Только видео
                .gallery#lightgallery.tab__content
                    -for (var i = 0; i < 11; i++) {
                        a.img__container(href="img/gallery-photo.png")
                            img(src="img/gallery-photo.png" alt="Подпись к фото")
                            .img__overlay
                                span Увеличить фото
                    -}
                    .img__container.img__container_type_video(data-poster="img/video-stop.png" data-sub-html="hello everybody" data-html="#video1")
                       img(src="img/video-stop.png" alt)
                       .img__overlay
                            span Видео
                .gallery.tab__content
                    -for (var i = 0; i < 4; i++) {
                    a.img__container(href="img/gallery-photo.png")
                        img(src="img/gallery-photo.png" alt="Подпись к фото")
                        .img__overlay
                            span Увеличить фото
                    -}
                    .img__container.img__container_type_video(data-poster="img/video-stop.png" data-sub-html="hello everybody" data-html="#video1")
                        img(src="img/video-stop.png" alt)
                        .img__overlay
                            span Видео
                .gallery.tab__content
                    -for (var i = 0; i < 5; i++) {
                    a.img__container(href="img/gallery-photo.png")
                        img(src="img/gallery-photo.png" alt="Подпись к фото")
                        .img__overlay
                            span Увеличить фото
                    -}
                    .img__container.img__container_type_video(data-poster="img/video-stop.png" data-sub-html="hello everybody" data-html="#video1")
                        img(src="img/video-stop.png" alt)
                        .img__overlay
                            span Видео

                a.btn.btn_size_middle(href="#") Загрузить ещё


    include include/footer
    #video1(style='display:none;')
        video.lg-video-object.lg-html5(controls preload='none')
            source(src='mov_bbb.mp4', type='video/mp4')
            |          Your browser does not support HTML5 video.