extends root/layout

block container
    .top-panel
        .top-panel__header
            include include/header
        .top-panel__slider
            - for (var i = 0; i < 5; i++) {
            .slider__item
                .container
                    .slider__content
                        span.subtitle студия праздника Анны Ефремовой
                        span.title Весёлые выпускные
                        p.slider__text Нет скучным свадьбам! Все, что скажет ваша бабушка про ненадкусанный каравай, будет сказано потом. Вместе создадим на свадьбе новые традиции, сделаем то, чего не было на торжествах родственников, устроим исключительно ваш день и ваш праздник! Пусть его оправдает даже самая консервативная бабушка ;)
                        .slider__actions
                            a.btn.btn_size_big(href="#") Услуги агенства
                            a.btn__promo(href="#") Смотреть #[br] промо-видео
            - }
