extends root/layout

block container
    .top-panel
        .top-panel__header
            include include/header
        .top-panel__slider
            - for (var i = 0; i < 5; i++) {
            .slider__item
                .container
                    .slider__content
                        span.subtitle студия праздника Анны Ефремовой
                        span.title Весёлые выпускные
                        p.slider__text Нет скучным свадьбам! Все, что скажет ваша бабушка про ненадкусанный каравай, будет сказано потом. Вместе создадим на свадьбе новые традиции, сделаем то, чего не было на торжествах родственников, устроим исключительно ваш день и ваш праздник! Пусть его оправдает даже самая консервативная бабушка ;)
                        .slider__actions
                            a.btn.btn_size_big(href="#") Услуги агенства
                            a.btn__promo(href="#") Смотреть #[br] промо-видео
            - }
    section.section.section_type_gradient.leading-content__section
        .leading-content
            .container
                p.subtitle.leading-content__subtitle Ведущая торжеств
                p.title.leading-content__title Анна Ефремова
                .leading-content__container
                    ul.leading-content__list
                        li.leading-content__item.heading Профессия
                            p Приход в event – сферу не случаен. Это не подработка и не увлечение, а профессия, которая требует знаний, сил, энергии и любви к тому, что делаешь. Анна - профессиональная телеведущая с опытом свыше 10 лет на ТВ, автор и режиссер собственных программ, инициатор успешных проектов.
                        li.leading-content__item.heading Имя дороже денег
                            p Работа на результат. Каждый проект – это безупречная реализация, неповторимость и восторг.
                        li.leading-content__item.heading Креатив
                            p В детстве Анна сочиняла стихи и писала сказки о принцах и принцессах. Сейчас все свои оригинальные идеи реализует в исключительных неповторимых мероприятиях.
                    ul.leading-content__list
                        li.leading-content__item.heading Стиль
                            p Собственный неподражаемый стиль Ведения Мероприятий, в котором сочетаются динамика,  легкое интересное  общение и изящное чувство юмора.
                        li.leading-content__item.heading Энергетика
                            p Это не то, что ведущий говорит и не то, каким он кажется….это та атмосфера, которая создается в его присутствии. В компании с Анной  всегда  уютно, душевно, интересно и весело. А  гости с порога  чувствуют  себя долгожданными и желанными.
                        li.leading-content__item.heading Подход
                            p Одинаково ответственный подход к каждому мероприятию –  будь то корпоратив на 500 гостей и VIP-приглашенными   или День Рождения в кругу близких людей на 10 человек. Главный принцип каждого мероприятия – превосходить ожидания.

    section.section
        .container
            p.subtitle.section__subtitle надо знать
            span.title.section__title.choose-content__title Почему выбирают ведущую Анну Ефремову?
                .divider
            .choose-content__container
                ul.choose-content__list
                    li.choose-content__item(style="background-image: url('img/microphone.svg')")
                        p.heading Профессионал
                        p Телеведущая, журналист, инициатор собственных проектов
                    li.choose-content__item(style="background-image: url('img/high-five.svg')")
                        p.heading Находит общий язык с каждым
                        p ...на русском, английском и немецком языках
                    li.choose-content__item(style="background-image: url('img/educate.svg')")
                        p.heading Учит и учится!
                        p Проводит тренинги по личностному росту. Регулярно посещает топовые конференции и семинары страны  в event-сфере
                ul.choose-content__list
                    li.choose-content__item(style="background-image: url('img/lips.svg')")
                        p.heading Мастер слова
                        p Филолог по образованию, богатый словарный запас , грамотная речь
                    li.choose-content__item(style="background-image: url('img/mask.svg')")
                        p.heading С чувством юмора
                        p Шутит над ситуациями, а не над людьми. Табу на пошлые и вульгарные шутки
                    li.choose-content__item(style="background-image: url('img/love.svg')")
                        p.heading Ее особенность – искренность!
                        p Каждое Событие проживает  вместе с Вами. Высокая самоотдача на каждом Мероприятии.


    section.section.service-content__section
        .container
            p.subtitle.section__subtitle.service-content__subtitle Сделано с душой…
            .title.section__title.service-content__title
                .divider
                span Услуги, которые мы предоставляем
                .divider
            .service-content__container
                .grid
                    each item in ["Свадьба", "Корпоратив", "День рождения", "Новый год", "Выпускной", "PR-акция", "Презентация", "Тимбилдинг", "Деловое мероприятие", "Видео-ролики"]
                        .grid__item.grid__item_20
                            .service-content__item
                                span.service-content__item-title= item
                .service-content__btn
                    a.btn.btn_size_big(href="#") Смотреть полный список услуг

    section.section(style="background-image: url('img/contact-bg.png')")
        .container
            p.title.section__title.contact-content__title Свяжитесь с нами прямо сейчас,#[br] и Ваш праздник станет незабываемым.
            .contact-form__container

