extends root/layout

block container
    .top-panel
        .top-panel__header
            include include/header
        .top-panel__slider
            - for (var i = 0; i < 5; i++) {
            .slider__item
                .container
                    .slider__content
                        span.subtitle студия праздника Анны Ефремовой
                        span.title Весёлые выпускные
                        p.slider__text Нет скучным свадьбам! Все, что скажет ваша бабушка про ненадкусанный каравай, будет сказано потом. Вместе создадим на свадьбе новые традиции, сделаем то, чего не было на торжествах родственников, устроим исключительно ваш день и ваш праздник! Пусть его оправдает даже самая консервативная бабушка ;)
                        .slider__actions
                            a.btn.btn_size_big(href="#") Услуги агенства
                            a.btn__promo(href="#") Смотреть #[br] промо-видео
            - }
    section.section.section_type_gradient.leading-content__section
        .leading-content
            .container
                p.subtitle.leading-content__subtitle Ведущая торжеств
                p.title.leading-content__title Анна Ефремова
                .leading-content__container
                    ul.leading-content__list
                        li.leading-content__item Профессия
                            p Приход в event – сферу не случаен. Это не подработка и не увлечение, а профессия, которая требует знаний, сил, энергии и любви к тому, что делаешь. Анна - профессиональная телеведущая с опытом свыше 10 лет на ТВ, автор и режиссер собственных программ, инициатор успешных проектов.
                        li.leading-content__item Имя дороже денег
                            p Работа на результат. Каждый проект – это безупречная реализация, неповторимость и восторг.
                        li.leading-content__item Креатив
                            p В детстве Анна сочиняла стихи и писала сказки о принцах и принцессах. Сейчас все свои оригинальные идеи реализует в исключительных неповторимых мероприятиях.
                    ul.leading-content__list
                        li.leading-content__item Стиль
                            p Собственный неподражаемый стиль Ведения Мероприятий, в котором сочетаются динамика,  легкое интересное  общение и изящное чувство юмора.
                        li.leading-content__item Энергетика
                            p Это не то, что ведущий говорит и не то, каким он кажется….это та атмосфера, которая создается в его присутствии. В компании с Анной  всегда  уютно, душевно, интересно и весело. А  гости с порога  чувствуют  себя долгожданными и желанными.
                        li.leading-content__item Подход
                            p Одинаково ответственный подход к каждому мероприятию –  будь то корпоратив на 500 гостей и VIP-приглашенными   или День Рождения в кругу близких людей на 10 человек. Главный принцип каждого мероприятия – превосходить ожидания.

    section.section
        .container
            p.subtitle.section__subtitle надо знать
            span.title.section__title.choose-content__title Почему выбирают ведущую Анну Ефремову?
                .divider

