extends root/layout

block container
    .top-panel
        .top-panel__header
            include include/header
        .top-panel__slider(data-aos="fade-up")
            - for (var i = 0; i < 5; i++) {
            .slider__item
                .container
                    .slider__content
                        span.subtitle студия праздника Анны Ефремовой
                        span.title Весёлые выпускные
                        p.slider__text Нет скучным свадьбам! Все, что скажет ваша бабушка про ненадкусанный каравай, будет сказано потом. Вместе создадим на свадьбе новые традиции, сделаем то, чего не было на торжествах родственников, устроим исключительно ваш день и ваш праздник! Пусть его оправдает даже самая консервативная бабушка ;)
                        .slider__actions
                            a.btn.btn_size_big(href="#") Услуги агенства
                            a.btn__promo(href="#") Смотреть #[br] промо-видео
            - }
    section.section.section_type_gradient.leading-content__section
        .leading-content
            .container(data-aos="fade-up")
                p.subtitle.leading-content__subtitle Ведущая торжеств
                p.title.leading-content__title Анна Ефремова
                .leading-content__container
                    ul.leading-content__list
                        li.leading-content__item.heading Профессия
                            p Приход в event – сферу не случаен. Это не подработка и не увлечение, а профессия, которая требует знаний, сил, энергии и любви к тому, что делаешь. Анна - профессиональная телеведущая с опытом свыше 10 лет на ТВ, автор и режиссер собственных программ, инициатор успешных проектов.
                        li.leading-content__item.heading Имя дороже денег
                            p Работа на результат. Каждый проект – это безупречная реализация, неповторимость и восторг.
                        li.leading-content__item.heading Креатив
                            p В детстве Анна сочиняла стихи и писала сказки о принцах и принцессах. Сейчас все свои оригинальные идеи реализует в исключительных неповторимых мероприятиях.
                    ul.leading-content__list
                        li.leading-content__item.heading Стиль
                            p Собственный неподражаемый стиль Ведения Мероприятий, в котором сочетаются динамика,  легкое интересное  общение и изящное чувство юмора.
                        li.leading-content__item.heading Энергетика
                            p Это не то, что ведущий говорит и не то, каким он кажется….это та атмосфера, которая создается в его присутствии. В компании с Анной  всегда  уютно, душевно, интересно и весело. А  гости с порога  чувствуют  себя долгожданными и желанными.
                        li.leading-content__item.heading Подход
                            p Одинаково ответственный подход к каждому мероприятию –  будь то корпоратив на 500 гостей и VIP-приглашенными   или День Рождения в кругу близких людей на 10 человек. Главный принцип каждого мероприятия – превосходить ожидания.

    section.section
        .container(data-aos="fade-up")
            p.subtitle.section__subtitle надо знать
            span.title.section__title.choose-content__title Почему выбирают ведущую Анну Ефремову?
                .divider
            .choose-content__container
                ul.choose-content__list
                    li.choose-content__item(style="background-image: url('img/microphone.svg')")
                        p.heading Профессионал
                        p Телеведущая, журналист, инициатор собственных проектов
                    li.choose-content__item(style="background-image: url('img/high-five.svg')")
                        p.heading Находит общий язык с каждым
                        p ...на русском, английском и немецком языках
                    li.choose-content__item(style="background-image: url('img/educate.svg')")
                        p.heading Учит и учится!
                        p Проводит тренинги по личностному росту. Регулярно посещает топовые конференции и семинары страны  в event-сфере
                ul.choose-content__list
                    li.choose-content__item(style="background-image: url('img/lips.svg')")
                        p.heading Мастер слова
                        p Филолог по образованию, богатый словарный запас , грамотная речь
                    li.choose-content__item(style="background-image: url('img/mask.svg')")
                        p.heading С чувством юмора
                        p Шутит над ситуациями, а не над людьми. Табу на пошлые и вульгарные шутки
                    li.choose-content__item(style="background-image: url('img/love.svg')")
                        p.heading Ее особенность – искренность!
                        p Каждое Событие проживает  вместе с Вами. Высокая самоотдача на каждом Мероприятии.


    section.section.service-content__section
        .container(data-aos="fade-up")
            p.subtitle.section__subtitle.service-content__subtitle Сделано с душой…
            .title.section__title.service-content__title
                .divider
                span Услуги, которые мы предоставляем
                .divider
            .service-content__container
                .grid
                    each item in ["Свадьба", "Корпоратив", "День рождения", "Новый год", "Выпускной", "PR-акция", "Презентация", "Тимбилдинг", "Деловое мероприятие", "Видео-ролики"]
                        .grid__item.grid__item_20
                            a.service-content__item(href="#")
                                span.service-content__item-title= item
                .service-content__btn
                    a.btn.btn_size_big(href="#") Смотреть полный список услуг

    section.section(style="background-image: url('img/contact-bg.png')")
        .container(data-aos="fade-up")
            p.title.section__title.contact-content__title Свяжитесь с нами прямо сейчас,#[br] и Ваш праздник станет незабываемым.
            .contact-form__container
                form.grid
                    .grid__item.grid__item_40
                        input.input(placeholder="Пожалуйста, представьтесь" style="background-image: url('img/user.svg')")
                        input.input(placeholder="Номер телефона или e-mail*" style="background-image: url('img/phone.svg')")
                        input.input(type="date" placeholder="Дата планируемого мероприятия" style="background-image: url('img/calendar.svg')")
                    .grid__item.grid__item_60
                        textarea.textarea(placeholder="По желанию, укажите повод мероприятия. Можете описать Ваши пожелания и любую другую информацию…")
                        p.text Нажимая на кнопку «отправить заявку», вы даёте согласие на обработку #[a.link(href="#") персональных данных]

                    .grid__item.grid__item_30.centered
                        button.btn.btn_size_big.btn_solid Отправить заявку

    section.section.section_type_gradient.thanksgiving-content__section
        .container(data-aos="fade-up")
            p.subtitle.section__subtitle Признание - это…
            .title.section__title.thanksgiving-content__title
                span Благодарственные письма
                .divider
                a.btn(href="#") Оставить отзыв
            .grid
                - for (var i = 0; i < 4; i++) {
                    .grid__item.grid__item_25
                        img.thanksgiving-content__img(src="img/letter.png" alt="letter")
                - }

    section.section.blog-content__section
        .container
            .blog-content__container
                .blog-content__item
                    .blog-content__item-header
                        span.blog-content__heading Наш event-блог
                        .divider
                    .blog-content__item-content
                        .blog__item
                            img(src="img/blog-photo.png" alt="")
                            .blog__item-content
                                p.blog__item-title Как Собчак учила жизни минчан
                                p.blog__item-date 20.07.2018
                                p.blog__item-text Добрый вечер. Мы в восторге. Все было так, как мы в этот день представляли: сдержанно, со вкусом и при этом…
                                a.blog__item-link(href="#") Читать далее...
                        .blog__item
                            img(src="img/blog-photo.png" alt="")
                            .blog__item-content
                                p.blog__item-title Как Собчак учила жизни минчан
                                p.blog__item-date 20.07.2018
                                p.blog__item-text Добрый вечер. Мы в восторге. Все было так, как мы в этот день представляли: сдержанно, со вкусом и при этом…
                                a.blog__item-link(href="#") Читать далее...
                        a.btn(href="#") Читать event-блог


                .blog-content__item
                    .blog-content__item-header
                        span.blog-content__heading Отзывы
                        .divider
                        button.slider-arrow.slider-prev
                        button.slider-arrow.slider-next
                    .blog-content__item-content
                        .review-content.review-content__slider
                            .review__container
                                .review__photo(style="background-image: url('img/review-photo.png')")
                                a.review__social-link(href="#" style="background-image: url('img/fb-red.svg')")
                                p.review__name Виктория Никитенкова
                                p.review__date 20.07.2018
                                p.blog__item-text Хочу оставить отзыв о работе такого прекрасного, интересного человека, а главное профессионала своего дела - Анне Ефремовой! Когда планируешь ответственное мероприятие очень важно, чтобы…
                                a.review__link.blog__item-link(href="#") Полный текст отзыва...
                            .review__container
                                .review__photo(style="background-image: url('img/review-photo.png')")
                                a.review__social-link(href="#" style="background-image: url('img/fb-red.svg')")
                                p.review__name Виктория Никитенкова
                                p.review__date 20.07.2018
                                p.blog__item-text Хочу оставить отзыв о работе такого прекрасного, интересного человека, а главное профессионала своего дела - Анне Ефремовой! Когда планируешь ответственное мероприятие очень важно, чтобы…
                                a.review__link.blog__item-link(href="#") Полный текст отзыва...
                            .review__container
                                .review__photo(style="background-image: url('img/review-photo.png')")
                                a.review__social-link(href="#" style="background-image: url('img/fb-red.svg')")
                                p.review__name Виктория Никитенкова
                                p.review__date 20.07.2018
                                p.blog__item-text Хочу оставить отзыв о работе такого прекрасного, интересного человека, а главное профессионала своего дела - Анне Ефремовой! Когда планируешь ответственное мероприятие очень важно, чтобы…
                                a.review__link.blog__item-link(href="#") Полный текст отзыва...
                            .review__container
                                .review__photo(style="background-image: url('img/review-photo.png')")
                                a.review__social-link(href="#" style="background-image: url('img/fb-red.svg')")
                                p.review__name Виктория Никитенкова
                                p.review__date 20.07.2018
                                p.blog__item-text Хочу оставить отзыв о работе такого прекрасного, интересного человека, а главное профессионала своего дела - Анне Ефремовой! Когда планируешь ответственное мероприятие очень важно, чтобы…
                                a.review__link.blog__item-link(href="#") Полный текст отзыва...
                        a.btn(href="#") Читать event-блог


    section.section.section_type_gradient.partners-content__section
        .container
            p.subtitle Наши партнёры
            .title.section__title.partners-content__title
                .divider
                span Нам доверяют
                .divider
    section.section.partners-content__slider-section
        .container
            .partners-content__slider
                img(data-lazy="img/partner-1.png" alt)
                img(data-lazy="img/partner-2.png" alt)
                img(data-lazy="img/partner-3.png" alt)
                img(data-lazy="img/partner-4.png" alt)
                img(data-lazy="img/partner-1.png" alt)
                img(data-lazy="img/partner-2.png" alt)
                img(data-lazy="img/partner-3.png" alt)
                img(data-lazy="img/partner-4.png" alt)
    include include/footer
