extends root/layout

block container
    include include/header
    section.section
        .container
            ul
                li
                    a.link(href="home.html") 1. Главная
                li
                    a.link(href="services.html") 2.1 Услуги
                li
                    a.link(href="services-page.html") 2.2 Страница услуги
                li
                    a.link(href="about.html") 3. О ведущей
                li
                    a.link(href="price.html") 4. Стоимость
                li
                    a.link(href="gallery.html") 5. Галерея
                li
                    a.link(href="blog.html") 6.1 Event-блог
                li
                    a.link(href="blog-article.html") 6.2 Event-блог - Статья
                li
                    a.link(href="contacts.html") 7. Контакты
                li
                    a.link(href="reviews.html") 8. Отзывы
                li
                    a.link(href="popup.html") 9. Всплывающее
                li
                    a.link(href="not-found.html") 10. 404
    include include/footer