extends root/layout

block container
    include include/header
    .container
        ul
            li
                a.link(href="home.html") 1. Главная
            li
                a.link(href="contacts.html") 7. Контакты
            li
                a.link(href="reviews.html") 8. Отзывы
            li
                a.link(href="not-found.html") 10. 404