extends root/layout

block container
    include include/header

    section.section.section_type_gradient.price-content__section
        .container
            .price-content__container
                .aside.price-content__aside
                    p.title.section__title Стоимость
                    p.aside__text Стоимость наших услуг держится в верхнем среднем ценовом диапазоне. Это связано с опытом работы, высоким профессионализмом и качеством мероприятий, подтвержденные рекомендациями топовых компаний Смоленска и отзывами любимых Клиентов.
                    p.aside__subtitle Гибкие тарифы
                    p.aside__text Любой пакет может быть скорректирован по Вашим пожеланиям  и дополнен опциями:
                    ul.aside__list
                        li.aside__text • Организация под ключ
                        li.aside__text • Оформление и декор
                        li.aside__text • Торт
                        li.aside__text • Полиграфия и сувенирная продукция
                        li.aside__text • Видео-продакшн: корпорат. фильмы, видео-поздравления, клипы, рекламные и презентационные  ролики
                    p.aside__text.bold Мы уважаем Ваш бюджет и предложим самый оптимальный вариант.
                    a.btn.aside__btn(href="#") Написать нам

                .price-content__table-content
                    .price-content__table
                        .price-content__table-row
                            .price-content__table-cell
                                .price-content__table-head
                                    .price-content__text
                                        span Тариф
                                    .price-content__table-divider
                                    .price-content__text
                                        span Услуга
                            .price-content__table-cell
                                p.heading Basic
                                p.price-content__text 40 000 ₽
                            .price-content__table-cell
                                p.heading Optima
                                p.price-content__text 56 000 ₽
                            .price-content__table-cell
                                p.heading Premium
                                p.price-content__text 96 000 ₽
                        .price-content__table-row
                            .price-content__table-cell
                                p.price-content__caption Ведущая
                                ul.price-content__list
                                    li.price-content__text эксклюзивный сценарий
                                    li.price-content__text тайминг
                                    li.price-content__text программа до 5 часов
                            .price-content__table-cell
                                img(src="img/plus.svg" alt)
                            .price-content__table-cell
                                img(src="img/plus.svg" alt)
                            .price-content__table-cell
                                img(src="img/plus.svg" alt)
                        .price-content__table-row
                            .price-content__table-cell
                                p.price-content__caption Dj
                                ul.price-content__list
                                    li.price-content__text музыкальное оформление, танцевальные паузы
                                    li.price-content__text работа до 6 часов
                            .price-content__table-cell
                                img(src="img/plus.svg" alt)
                            .price-content__table-cell
                                img(src="img/plus.svg" alt)
                            .price-content__table-cell
                                img(src="img/plus.svg" alt)
                        .price-content__table-row
                            .price-content__table-cell
                                p.price-content__caption Музыкальное оборудование
                            .price-content__table-cell
                            .price-content__table-cell
                                img(src="img/plus.svg" alt)
                            .price-content__table-cell
                                img(src="img/plus.svg" alt)
                        .price-content__table-row
                            .price-content__table-cell
                                p.price-content__caption Проектор и экран
                            .price-content__table-cell
                            .price-content__table-cell
                                img(src="img/plus.svg" alt)
                            .price-content__table-cell
                                img(src="img/plus.svg" alt)
                        .price-content__table-row
                            .price-content__table-cell
                                p.price-content__caption Видеосъемка 4 часа
                            .price-content__table-cell
                            .price-content__table-cell
                            .price-content__table-cell
                                img(src="img/plus.svg" alt)
                        .price-content__table-row
                            .price-content__table-cell
                                p.price-content__caption Видовой ролик до 5 минут
                            .price-content__table-cell
                            .price-content__table-cell
                            .price-content__table-cell
                                img(src="img/plus.svg" alt)
                        .price-content__table-row
                            .price-content__table-cell
                                p.price-content__caption Фотосъемка 4 часа
                            .price-content__table-cell
                            .price-content__table-cell
                            .price-content__table-cell
                                img(src="img/plus.svg" alt)
                        .price-content__table-row
                            .price-content__table-cell
                                p.price-content__caption Фотозона
                                ul.price-content__list
                                    li.price-content__text аренда прессволла, доставка, монтаж/демонтаж,
                                    li.price-content__text дизайн, печать баннера
                            .price-content__table-cell
                            .price-content__table-cell
                            .price-content__table-cell
                                img(src="img/plus.svg" alt)
                        .price-content__table-row
                            .price-content__table-cell
                                p.price-content__caption Бонусы
                            .price-content__table-cell
                            .price-content__table-cell
                                .block
                                    img(src="img/plus.svg" alt)
                                    ul.price-content__list
                                        li.price-content__text Слайд-шоу
                                        li.price-content__text Аренда прессволла (доставка, монтаж/демонтаж)
                            .price-content__table-cell
                                .block
                                    img(src="img/plus.svg" alt)
                                    ul.price-content__list
                                        li.price-content__text Слайд-шоу
                                        li.price-content__text Поздравительный видеоролик (до 5 минут)
                        .price-content__table-row
                            .price-content__table-cell
                            .price-content__table-cell
                                p.heading 40 000 ₽
                                p.price-content__text Тариф: Basic
                            .price-content__table-cell
                                p.heading 56 000₽
                                p.price-content__text Тариф: Optima
                            .price-content__table-cell
                                p.heading 96 000₽
                                p.price-content__text Тариф: Premium


    section.section(style="background-image: url('img/contact-bg.png')")
        .container(data-aos="fade-up")
            p.title.section__title.contact-content__title Свяжитесь с нами прямо сейчас,#[br] и Ваш праздник станет незабываемым.
            .contact-form__container
                form.grid
                    .grid__item.grid__item_40
                        input.input(placeholder="Пожалуйста, представьтесь" style="background-image: url('img/user.svg')")
                        input.input(placeholder="Номер телефона или e-mail*" style="background-image: url('img/phone.svg')")
                        input.input(type="date" placeholder="Дата планируемого мероприятия" style="background-image: url('img/calendar.svg')")
                    .grid__item.grid__item_60
                        textarea.textarea(placeholder="По желанию, укажите повод мероприятия. Можете описать Ваши пожелания и любую другую информацию…")
                        p Нажимая на кнопку «отправить заявку», вы даёте согласие на обработку #[a.link(href="#") персональных данных]

                    .grid__item.grid__item_30.centered
                        button.btn.btn_size_big.btn_solid Отправить заявку
    include include/footer