extends root/layout

block container
    include include/header

    section.section.section_type_gradient.reviews__section
        .container(data-aos="fade-up")
            p.subtitle.reviews__subtitle Сделано с душой…
            .title.section__title.reviews__title
                .divider
                span Отзывы о нашей работе
                .divider
            p.section__desc.reviews__desc Ваше Мероприятие – неповторимое и идеальное! Мы готовы предложить Вам проведение и/или организацию следующих событий:
            .masonry.reviews__content
                .masonry-brick.review__container
                    .review__photo(style="background-image: url('img/review-photo.png')")
                    a.review__social-link.fb(href="#" )
                    p.review__name Виктория Никитенкова
                    p.review__date 20.07.2018
                    p Первыми из греческих свадебных обрядов является сватовство. Сваты выбираются из числа родственников или друзей. Главный вопрос при сватовстве — приданое (из чего оно будет состоять — одежда, утварь или другие более серьёзные вещи, такие как недвижимость).
                    p Сами свадебные торжества могут проходить не один день и могут повторяться через некоторое время снова (например, через месяц), и проходят они преимущественно в доме невесты.
                    p Характерная черта одеяния греческой невесты : голову украшают золотыми нитями, а лицо закрывают длинной розовой вуалью.
                .masonry-brick.review__container
                    .review__photo(style="background-image: url('img/review-photo.png')")
                    a.review__social-link.vk(href="#" )
                    p.review__name Виктория Никитенкова
                    p.review__date 20.07.2018
                    p Церемония обычно полностью или хотя бы частично проходит на санскрите, языке индийских священных писаний. Свадебные празднования могут длиться до нескольких дней и очень отличаются в зависимости от региона, деноминации и касты. В день свадьбы жених и невеста надевают на шею друг другу ритуальный венок.
                .masonry-brick.review__container
                    .review__photo(style="background-image: url('img/review-photo.png')")
                    a.review__social-link.igram(href="#" )
                    p.review__name Виктория Никитенкова
                    p.review__date 20.07.2018
                    p Очень важным моментом свадебного обряда считается вступление молодой жены в дом мужа. Каждое место, куда попадает новобрачная (двор, порог, дверной косяк, подножие лестницы, верхняя ступень лестницы) отмечаются особыми действиями её самой и прочих участников церемонии.
                .masonry-brick.review__container
                    .review__photo(style="background-image: url('img/review-photo.png')")
                    a.review__social-link.ok(href="#" )
                    p.review__name Виктория Никитенкова
                    p.review__date 20.07.2018
                    p С государственной точки зрения, если мужчина с женщиной живут несколько лет вместе и ведут общее хозяйство, то они считаются мужем и женой со всеми вытекающими из этого имущественными правами и обязанностями на основании закона о незарегистрированных партнёрствах.
                    p С 1994-го года Израиль распространил закон о незарегистрированных партнерствах на однополые браки, а в 2006-м году Верховный суд Израиля обязал правительство признать заключённые за границей однополые браки.
                .masonry-brick.review__container
                    .review__photo(style="background-image: url('img/review-photo.png')")
                    a.review__social-link.fb(href="#" )
                    p.review__name Виктория Никитенкова
                    p.review__date 20.07.2018
                    p Например, свекровь встречает её с хлебом и поясом, которые кладет на порог. Молодая должна перешагнуть через них: если перешагивает правой ногой — это хорошая примета, левой — плохая. Перед входом в дом невеста трижды низко кланяется.
                .masonry-brick.review__container
                    .review__photo(style="background-image: url('img/review-photo.png')")
                    a.review__social-link.fb(href="#" )
                    p.review__name Виктория Никитенкова
                    p.review__date 20.07.2018
                    p Большинство гостей присутствуют только на этой части церемонии, и затем — после трапезы и общения — удаляются. Религиозная часть свадьбы начинается через несколько часов в присутствии близких друзей и родственников. Брамин (индуистский священник) зажигает священный огонь Агни, который призывается высшим свидетелем заключения брака. Священник читает мантры, затем жених и невеста семь раз обходят вокруг священного огня, взявшись за руки.
                .masonry-brick.review__container
                    .review__photo(style="background-image: url('img/review-photo.png')")
                    a.review__social-link.fb(href="#" )
                    p.review__name Виктория Никитенкова
                    p.review__date 20.07.2018
                    p Еврейским мужчинам из рода Коэнов (Коганов, Кагановичей и т. д.) запрещено вступать в брак с разведённой женщиной, с вдовой или с женщиной, принявшей гиюр. Также существует запрет на брак с женщиной, рожденной от запретного для её отца брака или с женщиной, имеющей запрещённые связи вне брака.
                    p Смешанные браки в Израиле в данный момент не регистрируются. Также не регистрируются нерелигиозные браки. Представителям различных религиозных верований или атеистам, желающим вступить в брак, приходится выезжать за рубеж либо фактически (ехать за границу) либо формально (в одном из иностранных посольств). Израиль признаёт браки, заключённые за границей
                .masonry-brick.review__container
                    .review__photo(style="background-image: url('img/review-photo.png')")
                    a.review__social-link.fb(href="#" )
                    p.review__name Виктория Никитенкова
                    p.review__date 20.07.2018
                    p После того как жених надевает на шею невесты золотую подвеску и ставит символический знак на её лбу, невеста считается его женой и частью его семьи, и связанной с кровными родственниками.

            a.btn.btn_size_middle.reviews__btn(href="#") Загрузить ещё

    section.section(style="background-image: url('img/contact-bg.png')")
        .container(data-aos="fade-up")
            p.title.section__title.contact-content__title Оставьте свой отзыв
            .contact-form__container
                form.grid
                    .grid__item.grid__item_40
                        input.input(placeholder="Пожалуйста, представьтесь" style="background-image: url('img/user.svg')")
                        input.input(placeholder="Ссылка на профиль в любой соц. сети*" style="background-image: url('img/mask-small.svg')")
                    .grid__item.grid__item_60
                        textarea.textarea(placeholder="По желанию, укажите повод мероприятия. Можете описать Ваши пожелания и любую другую информацию…")
                    .grid__item.grid__item_80.centered
                        p Нажимая на кнопку «отправить заявку», вы даёте согласие на обработку #[br] #[a.link(href="#") персональных данных]
                    .grid__item.grid__item_30.centered
                        button.btn.btn_size_big.btn_solid Отправить заявку
    include include/footer