extends root/layout

block container
    include include/header

    section.section.section_type_gradient
        .container(data-aos="fade-up")
            p.subtitle.section__subtitle.service-content__subtitle Сделано с душой…
            .title.section__title.service-content__title
                .divider
                span Услуги, которые мы предоставляем
                .divider
            p.section__desc Ваше Мероприятие – неповторимое и идеальное! #[br] Мы готовы предложить Вам проведение и/или организацию следующих событий:
            .service-content__container
                .grid
                    each item in ["Свадьба", "Корпоратив", "День рождения", "Новый год", "Выпускной", "PR-акция", "Презентация", "Тимбилдинг", "Деловое мероприятие", "Видео-ролики", "Конференция","Открытие", "Бизнес-раут", "Розыгрыш", "Тест-драйв"]
                        .grid__item.grid__item_20
                            a.service-content__item(href="#")
                                span.service-content__item-title= item
                .services__btn
                    a.btn.btn_size_big(href="#") Не нашли нужную услугу? Напишите нам!

    section.section.services__process
        .container(data-aos="fade-up")
            p.subtitle Все просто и прозрачно!
            p.title.section__title Как мы работаем?

            .grid
                .grid__item.grid__item_20
                    .process__step 1
                    .process__header
                        img.process__img(src="img/call.svg" alt)
                        img.process__arrow(src="img/arrow-big.svg" alt)
                    p.heading Звонок
                    p.process__desc Вы оставляете заявку, созваниваемся
                .grid__item.grid__item_20
                    .process__step 2
                    .process__header
                        img.process__img(src="img/meeting.svg" alt)
                        img.process__arrow(src="img/arrow-big.svg" alt)
                    p.heading Встреча
                    p.process__desc Мы встречаемся и обсуждаем Ваше Мероприятие
                .grid__item.grid__item_20
                    .process__step 3
                    .process__header
                        img.process__img(src="img/party.svg" alt)
                        img.process__arrow(src="img/arrow-big.svg" alt)
                    p.heading Предложение
                    p.process__desc Разрабатываем и отправляем Вам идеи по Мероприятию, тайминг
                .grid__item.grid__item_20
                    .process__step 4
                    .process__header
                        img.process__img(src="img/doc.svg" alt)
                        img.process__arrow(src="img/arrow-big.svg" alt)
                    p.heading Договор
                    p.process__desc Заключаем максимально простой и понятный для Вас договор
                .grid__item.grid__item_20
                    .process__step 5
                    .process__header
                        img.process__img(src="img/money.svg" alt)
                        img.process__arrow(src="img/arrow-big.svg" alt)
                    p.heading Предоплата
                    p.process__desc Вы вносите предоплату по Договору в размере 25 %
                .grid__item.grid__item_20
                    .process__step 6
                    .process__header
                        img.process__img(src="img/brain.svg" alt)
                        img.process__arrow(src="img/arrow-big.svg" alt)
                    p.heading Работа
                    p.process__desc Написание эксклюзивного сценария, подготовка к Мероприятию
                .grid__item.grid__item_20
                    .process__step 7
                    .process__header
                        img.process__img(src="img/like.svg" alt)
                        img.process__arrow(src="img/arrow-big.svg" alt)
                    p.heading Согласование
                    p.process__desc Уточняем все  организационные моменты,  детали и нюансы
                .grid__item.grid__item_20
                    .process__step 8
                    .process__header
                        img.process__img(src="img/camera.svg" alt)
                        img.process__arrow(src="img/arrow-big.svg" alt)
                    p.heading Техническая подготовка
                    p.process__desc и инструктаж подрядчиков (фотографы, операторы, официанты)
                .grid__item.grid__item_20
                    .process__step 9
                    .process__header
                        img.process__img(src="img/vision.svg" alt)
                        img.process__arrow(src="img/arrow-big.svg" alt)
                    p.heading Контроль
                    p.process__desc Приезжаем на площадку за 1,5 -2 ч до начала Вашего мероприятия, чтобы еще раз все проверить
                .grid__item.grid__item_20
                    .process__step 10
                    .process__header
                        img.process__img(src="img/holiday.svg" alt)
                    p.heading Ваше незабываемое торжество
                    p.process__desc Блестяще реализуем Ваше Мероприятие



    section.section.section_type_gradient.services__reason
        .container
            .services__reason-content
                img(src="img/services-anna.png" alt)
                .services__reason-desc
                    p.subtitle Вопрос, который волнует всех…
                    p.title.section__title Есть ли смысл обращаться в Event-агентство ?
                    ul.about__facts-list
                        li Да, если вы хотите организовать Ваше мероприятие безупречно и восхитить Ваших гостей
                        li Да, если у Вас статусное мероприятие
                        li Да, если на мероприятии будет более 70 гостей

    section.section(style="background-image: url('img/contact-bg.png')")
        .container(data-aos="fade-up")
            p.title.section__title.contact-content__title Свяжитесь с нами прямо сейчас,#[br] и Ваш праздник станет незабываемым.
            .contact-form__container
                form.grid
                    .grid__item.grid__item_40
                        input.input(placeholder="Пожалуйста, представьтесь" style="background-image: url('img/user.svg')")
                        input.input(placeholder="Номер телефона или e-mail*" style="background-image: url('img/phone.svg')")
                        input.input(type="date" placeholder="Дата планируемого мероприятия" style="background-image: url('img/calendar.svg')")
                    .grid__item.grid__item_60
                        textarea.textarea(placeholder="По желанию, укажите повод мероприятия. Можете описать Ваши пожелания и любую другую информацию…")
                        p Нажимая на кнопку «отправить заявку», вы даёте согласие на обработку #[a.link(href="#") персональных данных]

                    .grid__item.grid__item_30.centered
                        button.btn.btn_size_big.btn_solid Отправить заявку
    include include/footer