extends root/layout

block container
    include include/header

    section.section.section_type_gradient.service-page__top-panel
        .container(data-aos="fade-up")
            .service-page__top-panel-content
                p.title.section__title Свадебные торжества
                .service-page__top-panel-desc
                    p Свадьба - самое романтичное событие в жизни любой пары. Появление новой семьи, яркие эмоции и чувства, поздравления и подарки – непременные атрибуты этого замечательного дня. Часто многие молодожёны берут организацию такого важного праздника на себя, тратят огромное количество энергии и сил и, как результат, не могут полностью
                    p А какой видите её Вы? Скорее всего, яркой, незабываемой, не такой, как у всех. Существует мнение, что для организации классной свадьбы нужен большой бюджет. Однако мы считаем, что превосходный праздник зависит в большей степени от уровня подготовки.
                    p И наше праздничное агентство обеспечит наивысший уровень качества и подготовки Вашей свадьбы.
                    p Свадьба - самое романтичное событие в жизни любой пары. Появление новой семьи, яркие эмоции и чувства, поздравления и подарки – непременные атрибуты этого замечательного дня. Часто многие молодожёны берут организацию такого важного праздника на себя, тратят огромное количество энергии и сил и, как результат, не могут полностью
                    p А какой видите её Вы? Скорее всего, яркой, незабываемой, не такой, как у всех. Существует мнение, что для организации классной свадьбы нужен большой бюджет. Однако мы считаем, что превосходный праздник зависит в большей степени от уровня подготовки.
                    p И наше праздничное агентство обеспечит наивысший уровень качества и подготовки Вашей свадьбы.
                a.btn.btn_size_big(href="#") Узнать стоимость


    section.section.section_type_gradient.gallery__section
        .container(data-aos="fade-up").gallery__container
            .aside.gallery__aside.service-page__aside
                p.title.section__title Галерея свадеб
                p.aside__text Текст о том, какие бывают приключения на свадьбах и почему там так весело. Ведущая чувствует публику и атмосферу и понимает, в какой момент нужны активности, а когда нужно отойти в сторону и предоставить гостей самим себе. Опыт работы на ТВ научил правильно ставить голос, работать со своей.
                p.aside__text Интонацией и интенсивностью, чтобы всем слушателям было комфортно и приятно слушать ведущую.
                a.btn(href="#") Перейти в галерею
            .gallery__content
                .gallery__materials
                    a.active(href="#") Все материалы
                    a(href="#") Только фото
                    a(href="#") Только видео
                .gallery
                    -for (var i = 0; i < 5; i++) {
                    .img__container(data-src="img/gallery-photo.png" data-sign="image 1")
                        img(src="img/gallery-photo.png" alt)
                        .img__overlay
                            span Увеличить фото
                    -}
                    .img__container.img__container_type_video(data-src="img/video-stop.png" data-sign="hello everybody")
                        img(src="img/video-stop.png" alt)
                        .img__overlay
                            span Видео

                a.btn.btn_size_middle.btn_border_light(href="#") Загрузить ещё


    section.section.service-page__purpose-section
        .container(data-aos="fade-up")
            .service-page__purpose-content
                p.title.section__title При заказе свадьбы - декор зала в подарок
                p.section__desc Наши веранды прекрасно подойдут для фуршетного стола, а красивая территория с видом на лес для выездной регистрации и фото зон!
                .service-page__purpose-btn
                    a.btn.btn_solid.btn_size_big(href="#") Принять участие в акции
                    span.btn__label Акция действительна до 16.08.2018


    section.section.services__process
        .container(data-aos="fade-up")
            p.subtitle Все просто и прозрачно!
            p.title.section__title Как мы работаем?

            .grid
                .grid__item.grid__item_20
                    .process__step 1
                    .process__header
                        img.process__img(src="img/call.svg" alt)
                        img.process__arrow(src="img/arrow-big.svg" alt)
                    p.heading Звонок
                    p.process__desc Вы оставляете заявку, созваниваемся
                .grid__item.grid__item_20
                    .process__step 2
                    .process__header
                        img.process__img(src="img/meeting.svg" alt)
                        img.process__arrow(src="img/arrow-big.svg" alt)
                    p.heading Встреча
                    p.process__desc Мы встречаемся и обсуждаем Ваше Мероприятие
                .grid__item.grid__item_20
                    .process__step 3
                    .process__header
                        img.process__img(src="img/party.svg" alt)
                        img.process__arrow(src="img/arrow-big.svg" alt)
                    p.heading Предложение
                    p.process__desc Разрабатываем и отправляем Вам идеи по Мероприятию, тайминг
                .grid__item.grid__item_20
                    .process__step 4
                    .process__header
                        img.process__img(src="img/doc.svg" alt)
                        img.process__arrow(src="img/arrow-big.svg" alt)
                    p.heading Договор
                    p.process__desc Заключаем максимально простой и понятный для Вас договор
                .grid__item.grid__item_20
                    .process__step 5
                    .process__header
                        img.process__img(src="img/money.svg" alt)
                        img.process__arrow(src="img/arrow-big.svg" alt)
                    p.heading Предоплата
                    p.process__desc Вы вносите предоплату по Договору в размере 25 %
                .grid__item.grid__item_20
                    .process__step 6
                    .process__header
                        img.process__img(src="img/brain.svg" alt)
                        img.process__arrow(src="img/arrow-big.svg" alt)
                    p.heading Работа
                    p.process__desc Написание эксклюзивного сценария, подготовка к Мероприятию
                .grid__item.grid__item_20
                    .process__step 7
                    .process__header
                        img.process__img(src="img/like.svg" alt)
                        img.process__arrow(src="img/arrow-big.svg" alt)
                    p.heading Согласование
                    p.process__desc Уточняем все  организационные моменты,  детали и нюансы
                .grid__item.grid__item_20
                    .process__step 8
                    .process__header
                        img.process__img(src="img/camera.svg" alt)
                        img.process__arrow(src="img/arrow-big.svg" alt)
                    p.heading Техническая подготовка
                    p.process__desc и инструктаж подрядчиков (фотографы, операторы, официанты)
                .grid__item.grid__item_20
                    .process__step 9
                    .process__header
                        img.process__img(src="img/vision.svg" alt)
                        img.process__arrow(src="img/arrow-big.svg" alt)
                    p.heading Контроль
                    p.process__desc Приезжаем на площадку за 1,5 -2 ч до начала Вашего мероприятия, чтобы еще раз все проверить
                .grid__item.grid__item_20
                    .process__step 10
                    .process__header
                        img.process__img(src="img/holiday.svg" alt)
                    p.heading Ваше незабываемое торжество
                    p.process__desc Блестяще реализуем Ваше Мероприятие

    section.section(style="background-image: url('img/contact-bg.png')")
        .container(data-aos="fade-up")
            p.title.section__title.contact-content__title Свяжитесь с нами прямо сейчас,#[br] и Ваш праздник станет незабываемым.
            .contact-form__container
                form.grid
                    .grid__item.grid__item_40
                        input.input(placeholder="Пожалуйста, представьтесь" style="background-image: url('img/user.svg')")
                        input.input(placeholder="Номер телефона или e-mail*" style="background-image: url('img/phone.svg')")
                        input.input(type="date" placeholder="Дата планируемого мероприятия" style="background-image: url('img/calendar.svg')")
                    .grid__item.grid__item_60
                        textarea.textarea(placeholder="По желанию, укажите повод мероприятия. Можете описать Ваши пожелания и любую другую информацию…")
                        p Нажимая на кнопку «отправить заявку», вы даёте согласие на обработку #[a.link(href="#") персональных данных]

                    .grid__item.grid__item_30.centered
                        button.btn.btn_size_big.btn_solid Отправить заявку

    section.section.services__info
        .container
            p.section__desc.bold Заказать организацию свадьбы
            p.section__desc В современной России свадьба обычно совпадает с государственной регистрацией брака. Если совершается обряд венчания, то он возможен только при наличии свидетельства о регистрации брака из государственных органов. В то же время свадьба — это больше, чем просто бракосочетание, это ещё и цикл знаменательных обрядов (в русской свадьбе: свадебный поезд, свадебный пир, выкуп невесты и тому подобное). В наши дни в России свадьба впитала в себя обычаи многих народов, однако для неё также остались характерны и самобытные обряды.
            p.section__desc Со временем появляются новые традиции. Так, например, появилась традиция первого танца молодожёнов. Музыкальную композицию для своего первого танца молодожёны либо выбирают сами, либо танцуют под песню, предложенную ведущим. Многие пары готовятся к танцу заранее.
            p.section__desc Белорусская народная свадьба (белор. Вяселле), как обычай, имеет много общего со свадьбами других славянских народов. Всё начинается со сватовства. Родные жениха посылали сватов к родителям невесты с просьбой выйти замуж. Далее, спустя одну-две недели после сватовства, следовали смотрины: родители невесты осматривали хату и хозяйство родителей жениха, ибо туда после замужества отправится дочь. Накануне свадьбы у невесты устраивали девичник: приходили её подруги, родня, невесту наряжали, заплетали ей косу, плели венки и пели песни. Далее ещё один из этапов свадебного действа — посад, во время которого жениха и невесту сажали на дежу, покрытую кожухом (символ достатка), невесте прижигали волосы свечой.
            p.section__desc Наконец, за невестой приезжали друзья жениха, начинался праздничный обед в доме невесты, дележ каравая и одаривание молодых. После всего этого свадебный поезд со сватами и дружками отправлялся в дом жениха.

    include include/footer