@font-face {
  font-family: 'icons';
  src: url('../font/icons.woff2') format('woff2'),
  url('../font/icons.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  src: url('../font/Montserrat Bold.eot');
  src: url('../font/Montserrat Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/Montserrat Bold.woff2') format('woff2'),
  url('../font/Montserrat Bold.woff') format('woff'),
  url('../font/Montserrat Bold.svg#Montserrat Bold') format('svg');

  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'Montserrat';
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src: url('../font/Montserrat Regular.eot');
  src: url('../font/Montserrat Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/Montserrat Regular.woff2') format('woff2'),
  url('../font/Montserrat Regular.woff') format('woff'),
  url('../font/Montserrat Regular.svg#Montserrat Regular') format('svg');

  unicode-range: U+0020-2044;
}