@import 'global';

body {
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  width: 100%;
}

.content {
  flex-grow: 1;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  min-width: 320px;
  width: 100%;
}

.subtitle {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 10px;
  letter-spacing: 6px;
  opacity: .5;
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  font-size: 55px;
}